command-api/3jsons.json
[{"id":"da13c2e6.9b96f","type":"inject","z":"e6c89e3d.efe78","name":"","topic":"","payload":"sensor detection","payloadType":"str","repeat":"","crontab":"","once":false,"x":435,"y":372,"wires":[["219463f5.f198fc"]]},{"id":"219463f5.f198fc","type":"function","z":"e6c89e3d.efe78","name":"","func":"context.value = context.value || true;\n\nif (msg.payload === \"sensor detection\"){\n    if (context.value === true){\n        !context.value;\n        msg.payload = \"off\";\n    }else{\n        !context.value;\n        msg.payload = \"on\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":376.6000061035156,"wires":[["7a8cbc9b.95a2c4"]]},{"id":"7a8cbc9b.95a2c4","type":"debug","z":"e6c89e3d.efe78","name":"","active":true,"console":"false","complete":"false","x":871,"y":358.6666717529297,"wires":[]},{"id":"b911133b.0534b","type":"function","z":"e6c89e3d.efe78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":516,"wires":[["1311781b.619058","1d2d197e.600007"]]},{"id":"1311781b.619058","type":"function","z":"e6c89e3d.efe78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":610,"wires":[["b911133b.0534b","fe9d30e2.4b1c7"]]},{"id":"1d2d197e.600007","type":"debug","z":"e6c89e3d.efe78","name":"","active":true,"console":"false","complete":"false","x":860,"y":515,"wires":[]},{"id":"1745ac67.f049e4","type":"inject","z":"e6c89e3d.efe78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":420,"y":848,"wires":[["bd22dfbb.48a42"]]},{"id":"61af811a.c65cd","type":"rbe","z":"e6c89e3d.efe78","name":"","func":"rbe","gap":"","start":"","inout":"out","x":600.5,"y":279,"wires":[[]]},{"id":"fe9d30e2.4b1c7","type":"function","z":"e6c89e3d.efe78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":740,"wires":[["1311781b.619058"]]},{"id":"bd22dfbb.48a42","type":"switch","z":"e6c89e3d.efe78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"},{"t":"else"}],"checkall":"true","outputs":2,"x":796.5,"y":760,"wires":[["bcece1c8.bb6e7"],["48cb9541.17119c"]]},{"id":"d478c436.bc4138","type":"function","z":"e6c89e3d.efe78","name":"Device Counter","func":"var deviceCounts = flow.get('deviceCounts')||{}\n\nvar count;\n\nif (msg.payload.deviceId in deviceCounts) {\n    count = parseInt(deviceCounts[msg.payload.deviceId]);\n} else {\n    deviceCounts[msg.payload.deviceId] = 0\n    count = 0\n}\n\nif(count >= 10) {\n    deviceCounts[msg.payload.deviceId] = 1;\n    count = 1\n} else {\n    count++\n    deviceCounts[msg.payload.deviceId] = count;\n}\n\nflow.set('deviceCounts', deviceCounts);\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":692,"y":934,"wires":[["3764e8e8.16f8f8","ae7d0fcc.7a8a9"]]},{"id":"bcece1c8.bb6e7","type":"debug","z":"e6c89e3d.efe78","name":"","active":true,"console":"false","complete":"false","x":1013,"y":678,"wires":[]},{"id":"48cb9541.17119c","type":"debug","z":"e6c89e3d.efe78","name":"","active":true,"console":"false","complete":"false","x":1002,"y":748,"wires":[]},{"id":"52f04494.79f74c","type":"inject","z":"e6c89e3d.efe78","name":"","topic":"","payload":"{\"deviceId\":\"14\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":435,"y":927,"wires":[["d478c436.bc4138"]]},{"id":"f587061a.19df18","type":"trigger","z":"e6c89e3d.efe78","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","name":"","x":185,"y":314,"wires":[[]]},{"id":"3d077ec5.a289e2","type":"rbe","z":"e6c89e3d.efe78","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1213,"y":216,"wires":[[]]},{"id":"3764e8e8.16f8f8","type":"switch","z":"e6c89e3d.efe78","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","outputs":6,"x":957.5,"y":936,"wires":[["5df886d.fc04778"],["5df886d.fc04778"],["18ef1160.2149ff"],["5df886d.fc04778"],["5df886d.fc04778"],["5df886d.fc04778","95e262fe.9dd8e"]]},{"id":"5df886d.fc04778","type":"debug","z":"e6c89e3d.efe78","name":"2","active":true,"console":"false","complete":"count","x":1225,"y":854,"wires":[]},{"id":"18ef1160.2149ff","type":"debug","z":"e6c89e3d.efe78","name":"5","active":true,"console":"false","complete":"count","x":1220,"y":942,"wires":[]},{"id":"95e262fe.9dd8e","type":"debug","z":"e6c89e3d.efe78","name":"10","active":true,"console":"false","complete":"count","x":1228,"y":1035,"wires":[]},{"id":"54c2a960.a897c8","type":"inject","z":"e6c89e3d.efe78","name":"","topic":"","payload":"{\"deviceId\":\"15\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":430,"y":996,"wires":[["d478c436.bc4138"]]},{"id":"ae7d0fcc.7a8a9","type":"debug","z":"e6c89e3d.efe78","name":"","active":true,"console":"false","complete":"false","x":781,"y":882,"wires":[]}]