command-api/chatsession.json
[{"id":"7aec143e.59a9cc","type":"websocket out","z":"8b6a058.22c59f8","name":"","server":"5cf5f879.bb2428","client":"","x":782.1667785644531,"y":248.26665496826172,"wires":[]},{"id":"19e7d947.71fe57","type":"websocket in","z":"8b6a058.22c59f8","name":"","server":"5cf5f879.bb2428","client":"","x":352.16668701171875,"y":247.06668853759766,"wires":[["aae0c984.cc2e88"]]},{"id":"36e681a6.42ca2e","type":"inject","z":"8b6a058.22c59f8","name":"","topic":"","payload":"sample","payloadType":"str","repeat":"","crontab":"","once":false,"x":349.16668701171875,"y":117.26667022705078,"wires":[["2e103071.3696f"]]},{"id":"2e103071.3696f","type":"function","z":"8b6a058.22c59f8","name":"get session id","func":"var sessionid = global.get(\"sessionid\");\nmsg._session=sessionid;\nreturn msg;","outputs":1,"noerr":0,"x":564.1666870117188,"y":122.46666717529297,"wires":[["7aec143e.59a9cc","961b504a.62c36"]]},{"id":"aae0c984.cc2e88","type":"function","z":"8b6a058.22c59f8","name":"Set session id","func":"global.set(\"sessionid\",msg._session);\nreturn msg;","outputs":1,"noerr":0,"x":571.933349609375,"y":240.93331909179688,"wires":[["7aec143e.59a9cc","ae36f58a.67cfc8"]]},{"id":"961b504a.62c36","type":"debug","z":"8b6a058.22c59f8","name":"","active":true,"console":"false","complete":"true","x":822.1667175292969,"y":83.00000762939453,"wires":[]},{"id":"ae36f58a.67cfc8","type":"debug","z":"8b6a058.22c59f8","name":"","active":true,"console":"false","complete":"true","x":865.1667175292969,"y":170.00000762939453,"wires":[]},{"id":"5cf5f879.bb2428","type":"websocket-listener","z":"","path":"/ws/session","wholemsg":"false"}]