command-api/crud.json
[{"id":"9c98973c.8e7468","type":"inject","z":"c06c100a.065d7","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":528.933349609375,"y":294.9333190917969,"wires":[["b06c5434.2d87c8"]]},{"id":"b06c5434.2d87c8","type":"function","z":"c06c100a.065d7","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":770.933349609375,"y":293.9333190917969,"wires":[["2912d00b.1695a"]]},{"id":"2912d00b.1695a","type":"debug","z":"c06c100a.065d7","name":"show","active":true,"console":"false","complete":"payload","x":987.933349609375,"y":293.9333190917969,"wires":[]},{"id":"9b7a7e33.b0133","type":"inject","z":"c06c100a.065d7","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":524.933349609375,"y":329.9333190917969,"wires":[["b25e21a4.d543b"]]},{"id":"b2c9ef7a.95aac","type":"function","z":"c06c100a.065d7","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":770.933349609375,"y":365.9333190917969,"wires":[["2912d00b.1695a"]]},{"id":"92b86104.e4a9a","type":"inject","z":"c06c100a.065d7","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":528.933349609375,"y":366.9333190917969,"wires":[["b2c9ef7a.95aac"]]},{"id":"b25e21a4.d543b","type":"function","z":"c06c100a.065d7","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":742.933349609375,"y":328.9333190917969,"wires":[["2912d00b.1695a"]]},{"id":"d04a3367.ca43d","type":"inject","z":"c06c100a.065d7","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":544.933349609375,"y":555.933349609375,"wires":[["e54d4db9.de55"]]},{"id":"e54d4db9.de55","type":"function","z":"c06c100a.065d7","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":786.933349609375,"y":554.933349609375,"wires":[["18990009.ad9cc"]]},{"id":"18990009.ad9cc","type":"debug","z":"c06c100a.065d7","name":"show","active":true,"console":"false","complete":"flow","x":1003.933349609375,"y":554.933349609375,"wires":[]},{"id":"1cdde622.24dc2a","type":"inject","z":"c06c100a.065d7","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":540.933349609375,"y":590.933349609375,"wires":[["3fcf2159.e8f1ee"]]},{"id":"be10ab84.7892e8","type":"function","z":"c06c100a.065d7","name":"Set vars example","func":"flow.set('count',1000);\nreturn msg","outputs":1,"noerr":0,"x":786.933349609375,"y":626.933349609375,"wires":[["18990009.ad9cc"]]},{"id":"4e50ed93.37bc94","type":"inject","z":"c06c100a.065d7","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":544.933349609375,"y":627.933349609375,"wires":[["be10ab84.7892e8"]]},{"id":"3fcf2159.e8f1ee","type":"function","z":"c06c100a.065d7","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":758.933349609375,"y":589.933349609375,"wires":[["18990009.ad9cc"]]},{"id":"11f76aa3.4bdb45","type":"function","z":"c06c100a.065d7","name":"getvars example","func":" msg.payload = this.flow.get('count');\n// msg.payload = this.flow.get('count');\n// msg.payload = context.flow.get('count')\n// msg.payload = context\n\n\nreturn msg","outputs":1,"noerr":0,"x":797.933349609375,"y":702.933349609375,"wires":[["f91d9c07.7466f"]]},{"id":"f91d9c07.7466f","type":"debug","z":"c06c100a.065d7","name":"show","active":true,"console":"false","complete":"payload","x":1015.9333801269531,"y":685.9333724975586,"wires":[]},{"id":"248f3289.65960e","type":"inject","z":"c06c100a.065d7","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":541.933349609375,"y":709.933349609375,"wires":[["11f76aa3.4bdb45"]]},{"id":"3e9915ed.832f9a","type":"inject","z":"c06c100a.065d7","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":552.933349609375,"y":792.933349609375,"wires":[["6e81f859.e15738"]]},{"id":"6e81f859.e15738","type":"function","z":"c06c100a.065d7","name":"delete flow vars example","func":"// msg.payload = this.flow.get('count');\n// msg.payload = this.flow.get('count');\nvar flows = context.flow\nfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t\t}\n\nfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t\t}\n// msg.payload = context.flow\n\n\nreturn msg","outputs":1,"noerr":0,"x":838.933349609375,"y":785.933349609375,"wires":[["e6cf604c.01cb9"]]},{"id":"e6cf604c.01cb9","type":"debug","z":"c06c100a.065d7","name":"show","active":true,"console":"false","complete":"payload","x":1026.9333801269531,"y":768.9333724975586,"wires":[]}]