command-api/crud1.json
[{"id":"7a9e7caa.a6bcb4","type":"inject","z":"e596ebcd.396718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":208.50001525878906,"y":98.80000305175781,"wires":[["83c5785f.90c068"]]},{"id":"83c5785f.90c068","type":"function","z":"e596ebcd.396718","name":"Get global","func":"msg.payload = context\nreturn msg;","outputs":1,"noerr":0,"x":389.50001525878906,"y":98.39999389648438,"wires":[["f1158830.f62648"]]},{"id":"f1158830.f62648","type":"debug","z":"e596ebcd.396718","name":"","active":true,"console":"false","complete":"payload","x":557.4999847412109,"y":97,"wires":[]},{"id":"57af33b6.a7246c","type":"inject","z":"e596ebcd.396718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204.1999969482422,"y":212.1999969482422,"wires":[["34487796.b16c98"]]},{"id":"34487796.b16c98","type":"function","z":"e596ebcd.396718","name":"Set flow var","func":"var devids={};\ndevids['0'] = 'a';\ndevids['1'] = 'b';\ncontext.flow.set(\"devs\",devids);\nreturn msg;","outputs":1,"noerr":0,"x":385.1999969482422,"y":211.79998779296875,"wires":[["b3bfe6d.cedc918","f996c55a.c3b508"]]},{"id":"b3bfe6d.cedc918","type":"debug","z":"e596ebcd.396718","name":"","active":true,"console":"false","complete":"false","x":553.1999664306641,"y":210.39999389648438,"wires":[]},{"id":"924c22f3.0443f","type":"inject","z":"e596ebcd.396718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":212.1999969482422,"y":308.20001220703125,"wires":[["f996c55a.c3b508"]]},{"id":"f996c55a.c3b508","type":"function","z":"e596ebcd.396718","name":"Get flow var","func":"msg.payload = flow.get('devs')\nreturn msg;","outputs":1,"noerr":0,"x":393.1999969482422,"y":307.8000030517578,"wires":[["fd01b12b.8449e","c10a2a5f.fc9468"]]},{"id":"fd01b12b.8449e","type":"debug","z":"e596ebcd.396718","name":"","active":true,"console":"false","complete":"false","x":561.1999664306641,"y":306.40000915527344,"wires":[]},{"id":"112e0df6.1ec812","type":"inject","z":"e596ebcd.396718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214.1999969482422,"y":405.20001220703125,"wires":[["c10a2a5f.fc9468"]]},{"id":"c10a2a5f.fc9468","type":"function","z":"e596ebcd.396718","name":"","func":"dvs = context.flow.get('devs');\ndvs['0'] = 'ff';\ndelete dvs['0'];\ndelete dvs;\nflow.set('devs',dvs);\nreturn msg;","outputs":1,"noerr":0,"x":375.1999969482422,"y":404.8000030517578,"wires":[["6cac9572.01320c"]]},{"id":"6cac9572.01320c","type":"debug","z":"e596ebcd.396718","name":"","active":true,"console":"false","complete":"false","x":563.1999664306641,"y":403.40000915527344,"wires":[]}]