command-api/editabletable.json
[{"id":"2d619d7c.a6dcc2","type":"http in","z":"662e5c32.8a18d4","name":"","url":"/tableoold","method":"get","swaggerDoc":"","x":216.50001525878906,"y":181.8000030517578,"wires":[["ede43f1e.f89c4"]]},{"id":"ab05f039.54d1a","type":"http response","z":"662e5c32.8a18d4","name":"","x":806.5000152587891,"y":201.8000030517578,"wires":[]},{"id":"ede43f1e.f89c4","type":"template","z":"662e5c32.8a18d4","name":"Js","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var $TABLE = $('#table');\nvar $BTN = $('#export-btn');\nvar $EXPORT = $('#export');\n\n$('.table-add').click(function () {\n  var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');\n  $TABLE.find('table').append($clone);\n});\n\n$('.table-remove').click(function () {\n  $(this).parents('tr').detach();\n});\n\n$('.table-up').click(function () {\n  var $row = $(this).parents('tr');\n  if ($row.index() === 1) return; // Don't go above the header\n  $row.prev().before($row.get(0));\n});\n\n$('.table-down').click(function () {\n  var $row = $(this).parents('tr');\n  $row.next().after($row.get(0));\n});\n\n// A few jQuery helpers for exporting only\njQuery.fn.pop = [].pop;\njQuery.fn.shift = [].shift;\n\n$BTN.click(function () {\n  var $rows = $TABLE.find('tr:not(:hidden)');\n  var headers = [];\n  var data = [];\n  \n  // Get the headers (add special header logic here)\n  $($rows.shift()).find('th:not(:empty)').each(function () {\n    headers.push($(this).text().toLowerCase());\n  });\n  \n  // Turn all existing rows into a loopable array\n  $rows.each(function () {\n    var $td = $(this).find('td');\n    var h = {};\n    \n    // Use the headers from earlier to name our hash keys\n    headers.forEach(function (header, i) {\n      h[header] = $td.eq(i).text();   \n    });\n    \n    data.push(h);\n  });\n  \n  // Output the result\n  $EXPORT.text(JSON.stringify(data));\n});","x":392.50001525878906,"y":184,"wires":[["b7432723.255258"]]},{"id":"b7432723.255258","type":"template","z":"662e5c32.8a18d4","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            .table-editable {\n  position: relative;\n  \n  .glyphicon {\n    font-size: 20px;\n  }\n}\n\n.table-remove {\n  color: #700;\n  cursor: pointer;\n  \n  &:hover {\n    color: #f00;\n  }\n}\n\n.table-up, .table-down {\n  color: #007;\n  cursor: pointer;\n  \n  &:hover {\n    color: #00f;\n  }\n}\n\n/*.table-add {*/\n/*  color: #070;*/\n/*  cursor: pointer;*/\n/*  position: absolute;*/\n/*  top: 8px;*/\n/*  right: 0;*/\n  \n/*  &:hover {*/\n/*    color: #0b0;*/\n/*  }*/\n}\n        </style>\n    </head>\n    <body>\n<div class=\"container\">\n  <h1>NAO</h1>\n  <div id=\"table\" class=\"table-editable\">\n    <span class=\"table-add glyphicon glyphicon-plus\">\n              <button>add</button>\n    </span>\n\n    <table class=\"table\">\n      <tr>\n        <th>Robot ID</th>\n        <th>iPad ID</th>\n        <th></th>\n        <th></th>\n      </tr>\n      <tr>\n        <td contenteditable=\"true\">Stir Fry</td>\n        <td contenteditable=\"true\">stir-fry</td>\n        <td>\n          <span class=\"table-remove glyphicon glyphicon-remove\">\n                        remove\n\n          </span>\n        </td>\n        <td>\n          <span class=\"table-up glyphicon glyphicon-arrow-up\"></span>\n          <span class=\"table-down glyphicon glyphicon-arrow-down\"></span>\n        </td>\n      </tr>\n      <!-- This is our clonable table line -->\n      <tr class=\"hide\">\n        <td contenteditable=\"true\">Untitled</td>\n        <td contenteditable=\"true\">undefined</td>\n        <td>\n             <span class=\"table-remove glyphicon glyphicon-remove\">\n          remove\n          </span>\n        </td>\n        <td>\n          <span class=\"table-up glyphicon glyphicon-arrow-up\"></span>\n          <span class=\"table-down glyphicon glyphicon-arrow-down\"></span>\n        </td>\n      </tr>\n    </table>\n  </div>\n   \n\n  <button id=\"export-btn\" class=\"btn btn-primary\">Save</button>\n  <p id=\"export\"></p>\n</div> \n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n\n<script>{{{payload.script}}}</script>\n    </body>\n</html>","x":618.4999847412109,"y":203,"wires":[["ab05f039.54d1a"]]},{"id":"9f55e9a8.ace838","type":"http in","z":"662e5c32.8a18d4","name":"","url":"/table2","method":"get","swaggerDoc":"","x":178.1999969482422,"y":341.20001220703125,"wires":[["b6ecba3e.d33498"]]},{"id":"3196d98f.7dab36","type":"http response","z":"662e5c32.8a18d4","name":"","x":778.1999969482422,"y":361.20001220703125,"wires":[]},{"id":"b6ecba3e.d33498","type":"template","z":"662e5c32.8a18d4","name":"Js","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$('#myTable').on('click', 'input[type=\"button\"]', function () {\n    $(this).closest('tr').remove();\n})\n$('p input[type=\"button\"]').click(function () {\n    $('#myTable').append('<tr><td><input type=\"text\" class=\"fname\" /></td><td><input type=\"text\" class=\"fname\" /></td><td><input type=\"button\" value=\"Delete\" /></td></tr>')\n});","x":364.1999969482422,"y":343.40000915527344,"wires":[["d15a7f96.ed23f"]]},{"id":"d15a7f96.ed23f","type":"template","z":"662e5c32.8a18d4","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n    table,th{\n        /*border: 1px solid black;*/\n          table-layout: fixed;\n          /*width:50px;*/\n          width: 30%\n\n    }     \n            \n    </style>\n    </head>\n    <body>\n        {{!--<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>--}}\n        <table id=\"myTable\" style=\"border: 1px solid black\">\n            <tr>\n                <th>Robot ID</th>\n                <th>iPad ID</th>\n                <th></th>\n\n            </tr>\n            <tr>\n                <td>\n                    <input type=\"text\" class=\"fname\" />\n                </td>\n                <td>\n                    <input type=\"text\" class=\"fname\" />\n                </td>\n                <td>\n                    <input type=\"button\" value=\"Remove Map\"/>\n                </td>\n            </tr>\n        </table>\n        <p>\n            <input type=\"button\" value=\"Add New\">\n            <input type=\"button\" value=\"Save\">\n        </p>        \n         \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n        \n        <script>{{{payload.script}}}</script>\n    </body>\n</html>","x":590.1999664306641,"y":362.40000915527344,"wires":[["3196d98f.7dab36"]]},{"id":"e3e3a379.8d7f1","type":"http in","z":"662e5c32.8a18d4","name":"","url":"/table","method":"get","swaggerDoc":"","x":184.27272033691406,"y":469.2727355957031,"wires":[["4d5eeaf.9ace014"]]},{"id":"4d5eeaf.9ace014","type":"template","z":"662e5c32.8a18d4","name":"Js","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$('#myTable').on('click', 'input[type=\"button\"]', function () {\n    $(this).closest('tr').remove();\n})\n$('p input[type=\"button\"]').click(function () {\n    $('#myTable').append('<tr><td><input type=\"text\" class=\"fname\" /></td><td><input type=\"text\" class=\"fname\" /></td><td><input type=\"button\" value=\"Delete\" /></td></tr>')\n});","x":380.27272033691406,"y":471.4727325439453,"wires":[["c91564bb.6d5928"]]},{"id":"c91564bb.6d5928","type":"template","z":"662e5c32.8a18d4","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n    table,th{\n        /*border: 1px solid black;*/\n          table-layout: fixed;\n          /*width:50px;*/\n          width: 30%\n\n    }     \n            \n    </style>\n    </head>\n    <body>\n        {{!--<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>--}}\n\n        <table id=\"myTable\" style=\"border: 1px solid black\">\n            {{!--<tr>--}}\n            {{!--    <th>Robot ID</th>--}}\n            {{!--    <th>iPad ID</th>--}}\n            {{!--    <th></th>--}}\n\n            {{!--</tr>--}}\n            <tr>\n                <td>\n                    \n                </td>\n                <td>\n                    <input type=\"text\" class=\"fname\" />\n                </td>\n                <td>\n                    <input type=\"text\" class=\"fname\" />\n                </td>\n                <td>\n                    <input type=\"button\" value=\"Delete\"/>\n                    <input type=\"button\" value=\"Save\"/>\n                </td>\n            </tr>\n        </table>\n         \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n        \n        <script>{{{payload.script}}}</script>\n    </body>\n</html>","x":606.2726898193359,"y":490.4727325439453,"wires":[["25f5b144.707e2e"]]},{"id":"25f5b144.707e2e","type":"http response","z":"662e5c32.8a18d4","name":"","x":794.2727203369141,"y":489.2727355957031,"wires":[]}]