command-api/flow1.json
[{"id":"fc4065d1.81a2d8","type":"inject","z":"98ab6ed1.5d62c","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":342.9333190917969,"y":179.93331909179688,"wires":[["9c9a938e.29468"]]},{"id":"9c9a938e.29468","type":"function","z":"98ab6ed1.5d62c","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":584.9333190917969,"y":178.93331909179688,"wires":[["78b9b054.35276"]]},{"id":"78b9b054.35276","type":"debug","z":"98ab6ed1.5d62c","name":"show","active":true,"console":"false","complete":"flow","x":801.9333190917969,"y":178.93331909179688,"wires":[]},{"id":"3e141ac9.ef99d6","type":"inject","z":"98ab6ed1.5d62c","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":338.9333190917969,"y":214.93331909179688,"wires":[["b4d57c6.0e4078"]]},{"id":"b1f1e6a.850b618","type":"function","z":"98ab6ed1.5d62c","name":"Set vars example","func":"this.flow.set('count1','ffff');\nthis.global.set('countq',1000);\n\nreturn msg","outputs":1,"noerr":0,"x":584.9333190917969,"y":250.93331909179688,"wires":[["78b9b054.35276"]]},{"id":"ff148a5b.7c9268","type":"inject","z":"98ab6ed1.5d62c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":342.9333190917969,"y":251.93331909179688,"wires":[["b1f1e6a.850b618"]]},{"id":"b4d57c6.0e4078","type":"function","z":"98ab6ed1.5d62c","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":556.9333190917969,"y":213.93331909179688,"wires":[["78b9b054.35276"]]},{"id":"aaa584b5.52bd88","type":"function","z":"98ab6ed1.5d62c","name":"getvars example","func":" msg.payload = this.flow.get('count1');\n// msg.payload = this.flow.get('count');\n// msg.payload = context.flow.get('count')\n// msg.payload = context\n\n\nreturn msg","outputs":1,"noerr":0,"x":595.9333190917969,"y":326.9333190917969,"wires":[["b2a2e420.d8f218"]]},{"id":"b2a2e420.d8f218","type":"debug","z":"98ab6ed1.5d62c","name":"show","active":true,"console":"false","complete":"payload","x":813.933349609375,"y":309.93334197998047,"wires":[]},{"id":"640364d7.6ca55c","type":"inject","z":"98ab6ed1.5d62c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":339.9333190917969,"y":333.9333190917969,"wires":[["aaa584b5.52bd88"]]},{"id":"7cba626c.469ecc","type":"inject","z":"98ab6ed1.5d62c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":350.9333190917969,"y":416.9333190917969,"wires":[["7eac4136.80de1"]]},{"id":"7eac4136.80de1","type":"function","z":"98ab6ed1.5d62c","name":"delete flow vars example","func":"// msg.payload = this.flow.get('count');\n// msg.payload = this.flow.get('count');\n// var flows = context.flow\n// for(var index in context.flow) { \n// \t\t\tdelete context.flow[index];\n// \t\t\t}\n\n// for(var index in context.global) { \n\t\t\tdelete context.global['countq'];\n\t\t\tdelete context.flow['count1'];\n\n// \t\t\t}\n// msg.payload = context.flow\n\n\nreturn msg","outputs":1,"noerr":0,"x":636.9333190917969,"y":409.9333190917969,"wires":[["40e6f179.df151"]]},{"id":"40e6f179.df151","type":"debug","z":"98ab6ed1.5d62c","name":"show","active":true,"console":"false","complete":"payload","x":824.933349609375,"y":392.93334197998047,"wires":[]},{"id":"776674a1.d2501c","type":"debug","z":"98ab6ed1.5d62c","name":"show","active":true,"console":"false","complete":"payload","x":814.933349609375,"y":351.9333190917969,"wires":[]},{"id":"1b064dc9.dc4612","type":"function","z":"98ab6ed1.5d62c","name":"getvars example","func":"//  msg.payload = this.flow.get('count');\n// msg.payload = this.flow.get('count');\n// msg.payload = context.flow.get('count')\nmsg.payload = context\n\n\nreturn msg","outputs":1,"noerr":0,"x":596.9333190917969,"y":368.9332962036133,"wires":[["776674a1.d2501c"]]},{"id":"160d9b72.297ba5","type":"inject","z":"98ab6ed1.5d62c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":340.9333190917969,"y":375.9332962036133,"wires":[["1b064dc9.dc4612"]]}]