command-api/flow2.json
[{"id":"a671da98.a3382","type":"link in","z":"36b622c8.28d8ee","name":"","links":["ea7813ca.6fef78"],"x":1467.9000244140625,"y":242.89999389648438,"wires":[[]]},{"id":"b4ceb05b.9c48","type":"switch","z":"36b622c8.28d8ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"},{"t":"else"}],"checkall":"true","outputs":2,"x":977.5,"y":349,"wires":[["69371c7a.e55a64"],["cd72c429.3d4088"]]},{"id":"69371c7a.e55a64","type":"debug","z":"36b622c8.28d8ee","name":"","active":true,"console":"false","complete":"false","x":1239,"y":270,"wires":[]},{"id":"cd72c429.3d4088","type":"debug","z":"36b622c8.28d8ee","name":"","active":true,"console":"false","complete":"false","x":1240,"y":409,"wires":[]},{"id":"cad12aad.17c128","type":"inject","z":"36b622c8.28d8ee","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":709,"y":353,"wires":[["b4ceb05b.9c48"]]}]