command-api/inout.json
[{"id":"23805472.01321c","type":"websocket in","z":"e62e57c7.be2128","name":"","server":"c8abb485.f0f678","client":"","x":207.16665649414062,"y":219.06666564941406,"wires":[["99d5d4e4.80cca8","8ada9365.2da94","7cb4a84.503f158"]]},{"id":"7cb4a84.503f158","type":"websocket out","z":"e62e57c7.be2128","name":"","server":"c8abb485.f0f678","client":"","x":628.166748046875,"y":94.5999984741211,"wires":[]},{"id":"1009517a.01c3af","type":"websocket out","z":"e62e57c7.be2128","name":"","server":"d8840cb0.28f3e","client":"","x":666.1667175292969,"y":425.60001373291016,"wires":[]},{"id":"1540581d.a312c8","type":"inject","z":"e62e57c7.be2128","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.16668701171875,"y":92.26667022705078,"wires":[["7906e8d1.cd6a28"]]},{"id":"99d5d4e4.80cca8","type":"debug","z":"e62e57c7.be2128","name":"","active":true,"console":"false","complete":"true","x":480.1666564941406,"y":231.06668853759766,"wires":[]},{"id":"b12e687f.2a2af8","type":"debug","z":"e62e57c7.be2128","name":"","active":true,"console":"false","complete":"true","x":606.933349609375,"y":304.9333190917969,"wires":[]},{"id":"8ada9365.2da94","type":"function","z":"e62e57c7.be2128","name":"null session","func":"// msg.payload = \"tt\"\n// msg._session = \"\"\n// msg.payload = JSON.parse()\nreturn msg;","outputs":1,"noerr":0,"x":446.1666564941406,"y":325.46666717529297,"wires":[["1009517a.01c3af","b12e687f.2a2af8"]]},{"id":"7906e8d1.cd6a28","type":"function","z":"e62e57c7.be2128","name":"null session","func":"// msg.payload = \"tt\"\n// msg._session = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":400.9333190917969,"y":90.9333267211914,"wires":[["7cb4a84.503f158"]]},{"id":"9720a93b.91f268","type":"inject","z":"e62e57c7.be2128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":848.1667175292969,"y":222.26667022705078,"wires":[["85f81dba.d547"]]},{"id":"85f81dba.d547","type":"debug","z":"e62e57c7.be2128","name":"","active":true,"console":"false","complete":"payload","x":1079.933349609375,"y":212.93331909179688,"wires":[]},{"id":"c8abb485.f0f678","type":"websocket-listener","z":"","path":"/ws/in","wholemsg":"false"},{"id":"d8840cb0.28f3e","type":"websocket-listener","z":"","path":"/ws/out","wholemsg":"false"}]