command-api/loggin.json
[{"id":"d0d9e3b4.fd2898","type":"inject","z":"6a9efd8a.61a1e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":489.7666320800781,"y":245.01666259765625,"wires":[["3b8f80b2.2cc74"]]},{"id":"3b8f80b2.2cc74","type":"function","z":"6a9efd8a.61a1e4","name":"","func":"// sleep(10)\nconsole.log(\"test\")\nconsole.log(\"test\")\nprocess.on('exit', (code) => {\n  console.log(`About to exit with code: ${code}`);\n});return msg;","outputs":1,"noerr":0,"x":658.2666015625,"y":243.2833251953125,"wires":[["45722b2c.c785fc"]]},{"id":"45722b2c.c785fc","type":"debug","z":"6a9efd8a.61a1e4","name":"","active":true,"console":"false","complete":"false","x":861.7666320800781,"y":249.71664428710938,"wires":[]}]