command-api/managesession.json
[{"id":"7335a508.d5acec","type":"websocket out","z":"a5b0871e.190348","name":"","server":"310bf74e.893e48","client":"","x":1104.1667785644531,"y":243.53331756591797,"wires":[]},{"id":"ac57bdc9.10a0c","type":"websocket in","z":"a5b0871e.190348","name":"","server":"310bf74e.893e48","client":"","x":553.1667175292969,"y":425.0666732788086,"wires":[["b74fa6c6.78ec68"]]},{"id":"e35b7b3c.d71048","type":"http in","z":"a5b0871e.190348","name":"","url":"/answer","method":"post","swaggerDoc":"","x":267.16668701171875,"y":105.93334197998047,"wires":[["fd896892.fac518"]]},{"id":"25048fac.5774","type":"http response","z":"a5b0871e.190348","name":"","x":313.16668701171875,"y":268.46668243408203,"wires":[]},{"id":"fd896892.fac518","type":"function","z":"a5b0871e.190348","name":"JSON.parse","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":489.1666564941406,"y":101.79999542236328,"wires":[["25048fac.5774","e0d5c96.8f34138","b847836.f6ee68","851a8a41.085968"]]},{"id":"e0d5c96.8f34138","type":"debug","z":"a5b0871e.190348","name":"","active":false,"console":"false","complete":"payload.deviceid","x":723.1667175292969,"y":89.73332977294922,"wires":[]},{"id":"5e909a96.57bda4","type":"function","z":"a5b0871e.190348","name":"Append Session","func":"var deviceids = global.get('deviceids')||{};\n\nif(deviceids !== null) {\n    //msg.payload = \"ok\"\n    msg._session = { \"type\": \"websocket\", \"id\": deviceids[msg.payload.deviceid] };\n    // msg._session = \"\"\n} else {\n    \n}\n// msg.payload = deviceids\nreturn msg;","outputs":1,"noerr":0,"x":772.9334411621094,"y":203.93331146240234,"wires":[["7335a508.d5acec","cfe58024.9ecf3"]]},{"id":"a8e67f15.eff79","type":"function","z":"a5b0871e.190348","name":"Save Session","func":"var deviceids = global.get('deviceids')||{};\n//var newMsg = msg||{};\n\nif (msg._session !== null) {\n\n    if (msg.payload.deviceid !== null && msg._session.id !== null) {\n    \n       if (msg.payload.deviceid in deviceids) {\n           deviceids[msg.payload.deviceid] = msg._session.id;\n           global.set('deviceids',deviceids);\n           \n       } \n       else {\n           deviceids[msg.payload.deviceid] = msg._session.id;\n           global.set('deviceids',deviceids);\n       }\n    }\n}\n// else {\n\n//   deviceids = global.get('deviceids');\n//   msg._session = { \"type\": \"websocket\", \n//                   \"id\": deviceids[msg.payload.deviceid] };\n                 \n// }\nreturn msg;","outputs":1,"noerr":0,"x":851.933349609375,"y":336.9333190917969,"wires":[["7335a508.d5acec","a90ae0a9.9df"]]},{"id":"d2831113.13d65","type":"http response","z":"a5b0871e.190348","name":"","x":1126.1667785644531,"y":578.1333847045898,"wires":[]},{"id":"f10de172.c6ee1","type":"template","z":"a5b0871e.190348","name":"Web Response","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n          \n          <script type=\"text/javascript\">\n            var socketaddy = \"ws://\" + window.location.host + \"/ws/ans\";\n        \n            $(document).ready(function(){\n            //   var output = document.getElementById('output')\n            //   $('#output').on('playing', function () {\n            //       $('#text').text('Playing audio.')\n                  \n            //   });\n            //   $('#output').on('ended', function () {\n            //       $('#text').text('Waiting for audio...')\n                  \n            //   });\n              sock = new WebSocket(socketaddy);\n              sock.onopen = function(){\n                  $('#text').text('Waiting for audio...');\n                  console.log(\"Connected websocket\");\n                  sendInit();\n              };\n              sock.onerror = function(){ \n                  console.log(\"Websocket error\"); \n              };\n              sock.onclose = function () {\n                  $('#text').text('Not connected. Refresh the page?')\n              }\n              sock.onmessage = function(evt){\n                console.log(\"Websocket message\", evt);\n                console.log(sessionStorage.deviceid);\n                // output.src = window.URL.createObjectURL(evt.data);\n                // output.play();\n              };\n            });\n          </script>\n          <script>\n              function sendInit() {\n                  var deviceid = \"webbot_\"+Math.round(Math.random()*10000); \n                  var payload = {\n                      \"deviceid\" : deviceid,\n                      \"question\" : \"\"\n                      };\n                  sessionStorage.deviceid = deviceid;\n                  sock.send(JSON.stringify(payload));\n              }\n          </script>\n          <script>\n              function send() {\n               var xhr = new XMLHttpRequest();\n               xhr.open('POST', \"https://command-api.mybluemix.net/answer\", true);\n               xhr.responseType = 'blob';\n               xhr.send(JSON.stringify({\"deviceid\":sessionStorage.deviceid, \"question\":document.getElementById('1').value}));\n\n              }\n          </script>\n    </head>\n    \n    <body>\n          <div id=\"text\">Connecting...</div>\n          <input id='1' type='text' value=\"hi\">\n          <input type='button' onclick=\"send()\" value=\"Send\">\n    </body>\n</html>","x":815.1667785644531,"y":590.9334335327148,"wires":[["d2831113.13d65"]]},{"id":"4cae9697.6d2a28","type":"http in","z":"a5b0871e.190348","name":"","url":"/webapp","method":"get","swaggerDoc":"","x":480.1666564941406,"y":571.9333877563477,"wires":[["f10de172.c6ee1"]]},{"id":"a90ae0a9.9df","type":"debug","z":"a5b0871e.190348","name":"","active":true,"console":"false","complete":"true","x":1087.933349609375,"y":379.9333190917969,"wires":[]},{"id":"cd19f536.82bd98","type":"inject","z":"a5b0871e.190348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163.16665649414062,"y":471.2667007446289,"wires":[[]]},{"id":"cfe58024.9ecf3","type":"debug","z":"a5b0871e.190348","name":"","active":true,"console":"false","complete":"true","x":999.1667175292969,"y":156.0666732788086,"wires":[]},{"id":"b847836.f6ee68","type":"switch","z":"a5b0871e.190348","name":"","property":"payload.deviceid","propertyType":"msg","rules":[{"t":"regex","v":"web.*","vt":"str","case":false}],"checkall":"true","outputs":1,"x":617.1667175292969,"y":161.26667022705078,"wires":[["5e909a96.57bda4","6f260fe0.09644"]]},{"id":"6f260fe0.09644","type":"debug","z":"a5b0871e.190348","name":"","active":false,"console":"false","complete":"false","x":800.1667785644531,"y":148.80001068115234,"wires":[]},{"id":"851a8a41.085968","type":"debug","z":"a5b0871e.190348","name":"","active":false,"console":"false","complete":"false","x":652.933349609375,"y":21.933326721191406,"wires":[]},{"id":"b74fa6c6.78ec68","type":"function","z":"a5b0871e.190348","name":"JSON.parse","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":682.9333801269531,"y":376.93331146240234,"wires":[["a8e67f15.eff79"]]},{"id":"310bf74e.893e48","type":"websocket-listener","z":"","path":"/ws/ans","wholemsg":"false"}]