command-api/mustacheinsert.json
[{"id":"2ceacc1a.fecd04","type":"http in","z":"1afb2c5b.8a8af4","name":"","url":"/mus","method":"get","swaggerDoc":"","x":187.50001525878906,"y":268.8000030517578,"wires":[["318b85bd.ce9d8a"]]},{"id":"318b85bd.ce9d8a","type":"template","z":"1afb2c5b.8a8af4","name":"one","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"// $(document).ready(function(e) {\n    \n       var x = 1;\n    var form_data = $(this).serialize();\n    \n// });","x":356.50001525878906,"y":269.00001525878906,"wires":[["6ab6e0ce.7d244"]]},{"id":"6ab6e0ce.7d244","type":"template","z":"1afb2c5b.8a8af4","name":"two","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n            <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n\n        \n    </head>\n    <body>\n        <h3>hi</h3>\n        <!--<h1>{{payload.script}}</h1>-->\n        <!--<h1>{{token}}</h1>-->\n    </body>\n</html>\n<script>{{{payload.script}}}</script>\n\n\n","x":533.4999847412109,"y":265.00001525878906,"wires":[["6b8fe150.882a3"]]},{"id":"6b8fe150.882a3","type":"http response","z":"1afb2c5b.8a8af4","name":"","x":750.4999847412109,"y":254.8000030517578,"wires":[]}]