command-api/nao-admin.json
[{"id":"673b0db8.d00ec4","type":"http in","z":"d850c06b.ba2128","name":"","url":"/map/:ipadId/:robotId","method":"post","swaggerDoc":"","x":265,"y":655.2000427246094,"wires":[["16438b07.29bbdd","86f8c357.a011c8"]]},{"id":"2071be2a.1e4d7a","type":"cloudant out","z":"d850c06b.ba2128","name":"","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1131.183349609375,"y":393.63336181640625,"wires":[]},{"id":"336b27e2.5799f8","type":"function","z":"d850c06b.ba2128","name":"Add / Update Map","func":"msg.ipadId = msg.payload.ipadId;\nmsg.robotId = msg.payload.robotId\ndelete msg.payload\n// msg.payload = {\"_id\":msg.ipadId}\n// msg._id = msg.payload.ipadId\n//msg.robotId = msg.payload.robotId\n// msg.payload = {\"ipadId\":msg.payload\"robtoId}\nreturn msg;","outputs":1,"noerr":0,"x":630.1000366210938,"y":165,"wires":[["df6f12ae.338358","dfc1fd1a.6cbf3"]]},{"id":"27cfd14c.f2630e","type":"function","z":"d850c06b.ba2128","name":"Delete","func":"msg.ipadId = msg.payload.ipadId;\nmsg.robotId = msg.payload.robotId;\nreturn msg;","outputs":1,"noerr":0,"x":1946.0999603271484,"y":1136,"wires":[[]]},{"id":"c35407e1.a7f6e8","type":"inject","z":"d850c06b.ba2128","name":"","topic":"","payload":"{\"ipadId\":\"i2\",\"robotId\":\"r1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":263.1000061035156,"y":169.66668701171875,"wires":[["336b27e2.5799f8"]]},{"id":"725e891e.865b7","type":"inject","z":"d850c06b.ba2128","name":"1","topic":"","payload":"{\"ipadId\":\"i5\",\"robotId\":\"r2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":252.10000610351562,"y":342.6667022705078,"wires":[["2cb92832.6196c8"]]},{"id":"df6f12ae.338358","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"payload","x":738.4332885742188,"y":118,"wires":[]},{"id":"dfc1fd1a.6cbf3","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"true","x":924.1000366210938,"y":122.76666259765625,"wires":[]},{"id":"6948859d.61400c","type":"switch","z":"d850c06b.ba2128","name":"Duplicate Control","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":731.716796875,"y":460.4666748046875,"wires":[["bee18fca.dc8ed","205dff76.b669b8"],["e52dcdd2.fbf108","51c32c46.d7822c"]]},{"id":"36fdeed2.6ba952","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"payload","x":1233.10009765625,"y":550.7666625976562,"wires":[]},{"id":"1c201cf4.5c1543","type":"function","z":"d850c06b.ba2128","name":"Update","func":"msg._id = msg.payload._id\nmsg._rev = msg.payload._rev\nmsg.payload=msg.robotId\nreturn msg;","outputs":1,"noerr":0,"x":1814.1001434326172,"y":896.7666320800781,"wires":[[]]},{"id":"79cb19bb.8c94a","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"payload","x":686.1000366210938,"y":363.76666259765625,"wires":[]},{"id":"e52dcdd2.fbf108","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"payload","x":823.10009765625,"y":508.76666259765625,"wires":[]},{"id":"bee18fca.dc8ed","type":"function","z":"d850c06b.ba2128","name":"Optimize Save","func":"delete msg.payload\ndelete msg.cloudant\nreturn msg;","outputs":1,"noerr":0,"x":938.433349609375,"y":451.4666748046875,"wires":[["2071be2a.1e4d7a","5ef7d97c.997118"]]},{"id":"eeb3a887.b4098","type":"cloudant in","z":"d850c06b.ba2128","name":"Search iPad","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_idx_","design":"deviceMap","index":"deviceSearch","x":570.1000366210938,"y":413.76666259765625,"wires":[["79cb19bb.8c94a","39cadb4d.95fabc","6948859d.61400c"]]},{"id":"2cb92832.6196c8","type":"function","z":"d850c06b.ba2128","name":"Add","func":"msg.ipadId = msg.payload.ipadId;\nmsg.robotId = msg.payload.robotId\n// delete msg.payload\n// msg.payload = {\"_id\":msg.ipadId}\n// msg._id = msg.payload.ipadId\n//msg.robotId = msg.payload.robotId\n// msg.payload = {\"ipadId\":msg.payload\"robtoId}\nreturn msg;","outputs":1,"noerr":0,"x":468.0999755859375,"y":369.76666259765625,"wires":[["eeb3a887.b4098","15465182.24c6ae"]]},{"id":"205dff76.b669b8","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"true","x":756.86669921875,"y":406.5333251953125,"wires":[]},{"id":"15465182.24c6ae","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"true","x":546.8666381835938,"y":310.5333251953125,"wires":[]},{"id":"39cadb4d.95fabc","type":"function","z":"d850c06b.ba2128","name":"Test","func":"var x = msg.payload\nnode.warn(x==\"\")\nreturn msg;","outputs":1,"noerr":0,"x":573.7499389648438,"y":459.93328857421875,"wires":[[]]},{"id":"e3a26aee.374cb","type":"inject","z":"d850c06b.ba2128","name":"2","topic":"","payload":"{\"ipadId\":\"i2\",\"robotId\":\"r1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":250.5500030517578,"y":397.21665954589844,"wires":[["2cb92832.6196c8"]]},{"id":"3ee95872.b59bc8","type":"inject","z":"d850c06b.ba2128","name":"3","topic":"","payload":"{\"ipadId\":\"i3\",\"robotId\":\"r1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":246.5500030517578,"y":444.21665954589844,"wires":[["2cb92832.6196c8"]]},{"id":"e1d6a04d.a226","type":"inject","z":"d850c06b.ba2128","name":"1","topic":"","payload":"{\"ipadId\":\"i1\",\"robotId\":\"r1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1709.5499877929688,"y":1073.2166748046875,"wires":[["27cfd14c.f2630e"]]},{"id":"db925045.6ecc78","type":"inject","z":"d850c06b.ba2128","name":"2","topic":"","payload":"{\"ipadId\":\"i2\",\"robotId\":\"r1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1707.999984741211,"y":1127.7666320800781,"wires":[["27cfd14c.f2630e"]]},{"id":"101be7f3.34cce","type":"inject","z":"d850c06b.ba2128","name":"3","topic":"","payload":"{\"ipadId\":\"i3\",\"robotId\":\"r1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1703.999984741211,"y":1174.7666320800781,"wires":[["27cfd14c.f2630e"]]},{"id":"9d166ed5.f863b8","type":"http in","z":"d850c06b.ba2128","name":"","url":"/map/:ipadId","method":"get","swaggerDoc":"","x":223.99996948242188,"y":1175.2000732421875,"wires":[["de2bb489.14f64"]]},{"id":"ebb95a7b.028fa8","type":"function","z":"d850c06b.ba2128","name":"Get All Maps","func":"// var deviceMap =flow.get(\"deviceMap\")||{};\n// var response = {'mappings':[]};\n// // var response = JSON.parse(response);\n// for (map in deviceMap) {\n//     response.mappings.push({\"robotId\":deviceMap[map], \"ipadId\":map})\n//     // response = deviceMap[map]\n// }\n// msg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":1047.2000732421875,"wires":[["d049e52e.30a4c","b94e9e8b.1209f"]]},{"id":"93246c2.930f89","type":"http response","z":"d850c06b.ba2128","name":"","x":1289,"y":875.2001953125,"wires":[]},{"id":"d049e52e.30a4c","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"false","x":580.2999267578125,"y":1006,"wires":[]},{"id":"2cfd3a0e.79d6f6","type":"http in","z":"d850c06b.ba2128","name":"","url":"/map/:ipadId","method":"delete","swaggerDoc":"","x":246,"y":845.2000427246094,"wires":[["b03a0ee4.f6946","e93ae899.e385b8"]]},{"id":"a55c5f9.c91962","type":"http in","z":"d850c06b.ba2128","name":"","url":"/map","method":"get","swaggerDoc":"","x":208,"y":1047.2000732421875,"wires":[["ebb95a7b.028fa8"]]},{"id":"de2bb489.14f64","type":"function","z":"d850c06b.ba2128","name":"Get Map","func":"// var deviceMap =flow.get(\"deviceMap\")||{};\nvar _id = msg.req.params.ipadId;\n\n// msg.payload = {\"ipadId\":ipadId, \"robotId\":deviceMap[ipadId]};\nreturn msg;","outputs":1,"noerr":0,"x":445.0000305175781,"y":1177.2000732421875,"wires":[["1cda095b.4371b7"]]},{"id":"b03a0ee4.f6946","type":"function","z":"d850c06b.ba2128","name":"Delete Map","func":"msg.payload = msg.req.params.ipadId;\n\n\n\n// var deviceMap =flow.get(\"deviceMap\")||{};\n// var ipadId = msg.req.params.ipadId;\n// delete deviceMap[ipadId];\n// flow.set('deviceMap', deviceMap);\n\n// var response = {'mappings':[]};\n// // var response = JSON.parse(response);\n// for (map in deviceMap) {\n//     response.mappings.push({\"ipadId\":map,\"robotId\":deviceMap[map]})\n//     // response = deviceMap[map]\n// }\n\n// msg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":472.0000305175781,"y":845.2000427246094,"wires":[["a3cd5b3b.e3a0b","8e1f0a38.2d18e8"]]},{"id":"d3d0e7b1.908788","type":"http in","z":"d850c06b.ba2128","name":"","url":"/nao-admin","method":"get","swaggerDoc":"","x":232.2999725341797,"y":1342.800048828125,"wires":[["fac816ac.13b56"]]},{"id":"902e2ba7.e29018","type":"http response","z":"d850c06b.ba2128","name":"","x":1092.2999267578125,"y":1343.800048828125,"wires":[]},{"id":"23d466f7.94146a","type":"template","z":"d850c06b.ba2128","name":"NAO Admin UI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html ng-app=\"crudModule\">\n    <head>\n        <style>\n         #tblcollections, th, td\n            {\n                border:1px solid black; background-color: mintcream; color: black;\n                /*margin-left: auto;*/\n                /*margin-right: auto;*/\n                width:300px\n            }\n        </style>\n    </head>\n    <body>\n        <h2 style=\"text-align:left;\">NAO Admin App</h2>\n            <table id=\"tblContainer\" ng-controller=\"crudController\">\n    \n                <tbody>\n                    <tr>\n                        <td>\n                            <table id=\"tb2\">\n                                <tbody>\n                                    <tr>\n                                        <td>\n                                            <span>iPad ID:</span>\n                                        </td>\n                                        <td>\n                                            <input type=\"text\" id=\"ipadId\" required=\"true\" ng-model=\"ipadId\"/>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td>\n                                            <span>Robot ID:</span>\n                                        </td>\n                                        <td>\n                                            <input type=\"text\" id=\"robotId\" required=\"true\" ng-model=\"robotId\"/>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td></td>\n                                        <td>\n                                            <input type=\"button\" id=\"delete\" value=\"Delete\" ng-click=\"delete()\" />\n                                            <input type=\"button\" id=\"add\" value=\"Add\" ng-click=\"post()\" />\n                                        </td>                \n                                    </tr> \n                                </tbody>\n                            </table>\n                            <div>{[{Message}]}</div>\n                            <br>\n                            <br>\n                            <h3 style=\"text-align:left;\">Mapping Details</h3>\n\n                            <table id=\"tblcollections\">\n                                <thead>\n                                    <tr>\n                                        <th>iPad ID</th>\n                                        <th>Robot ID</th>\n                                    </tr>\n                                </thead>\n                                {{!--<tbody ng-repeat=\"map in deviceMap  track by $index\">--}}\n                                <tbody ng-repeat=\"map in deviceMap\">\n                                        <tr ng-click=\"load(map)\">\n                                        {{!--<tr>--}}\n                                            <td> <span>{[{map.ipadId}]}</span></td>\n                                            <td> <span>{[{map.robotId}]}</span></td>     \n\n                                            {{!--<td>--}}\n                                            {{!--    <input type=\"button\" id=\"load\" value=\"Load\" ng-click=\"test(map)\" />--}}\n                                            {{!--</td>--}}\n\n                                        </tr>\n                                </tbody>\n                            </table>\n                        </td>\n                    </tr>\n                </tbody>\n            </table>\n        {{!--</div>--}}\n        <script src = \"http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js\"></script>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n        <script>\n            $(\"#tblcollections tbody tr td\").click(function(){\n               $(this).addClass('selected').siblings().removeClass('selected');    \n               var value=$(this).find('td:first').html();\n               alert(value);    \n            });            \n        </script>\n        <script>{{{payload.common.js}}}</script>\n        <script>{{{payload.app.js}}}</script>\n        <script>{{{payload.service.js}}}</script>\n        <script>{{{payload.controller.js}}}</script>\n    </body>\n</html>","x":917.2999877929688,"y":1344,"wires":[["902e2ba7.e29018"]]},{"id":"fac816ac.13b56","type":"template","z":"d850c06b.ba2128","name":"app.js","field":"payload.app.js","fieldType":"msg","format":"javascript","syntax":"plain","template":"// var app = angular.module('crudModule', []);\nvar app = angular.module('crudModule', []).config(function($interpolateProvider){\n    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');\n});","x":412.99998474121094,"y":1343.199951171875,"wires":[["5962be4c.5cf508"]]},{"id":"5962be4c.5cf508","type":"template","z":"d850c06b.ba2128","name":"service.js","field":"payload.service.js","fieldType":"msg","format":"javascript","syntax":"plain","template":"app.service('crudService', function($http){\n    // var base_url = window.location.host+'/map/';\n    var base_url = '/map/';\n\n    this.post = function(ipadId, robotId) {\n        var request = $http({\n           method: 'post',\n           url:base_url+ipadId+'/'+robotId\n        });\n        return request;\n    }   \n    \n    this.getAll = function() {\n        var request = $http({\n           method: 'get',\n           url:base_url\n        });\n        return request;\n    } \n    this.get = function(ipadId) {\n        var request = $http({\n           method: 'get',\n           url:base_url+ipadId\n        });\n        return request;\n    } \n    this.delete = function(ipadId) {\n        var request = $http({\n           method: 'delete',\n           url:base_url+ipadId\n        });\n        return request;\n    } \n});","x":560,"y":1342.199951171875,"wires":[["b76d9835.dea4c8"]]},{"id":"b76d9835.dea4c8","type":"template","z":"d850c06b.ba2128","name":"controller.js","field":"payload.controller.js","fieldType":"msg","format":"javascript","syntax":"plain","template":"app.controller('crudController', function ($scope, crudService) \n{\n    \n    getAll(); // Initially loads all records.\n\n    //Function to load all records \n    function getAll() \n    {\n        var promiseGet = crudService.getAll(); \n\n        //Method Call from the service\n        promiseGet.then(function (pl) {\n                //  $scope.deviceMap = JSON.stringify(pl.data)\n\n                $scope.deviceMap = pl.data.mappings\n                // $scope.deviceMap = [{\"2\":\"2\"},{\"1\":\"1\"}]\n                console.log($scope.deviceMap);\n\n            },\n            function (errorPl) {\n                $log.error('failure loading records', errorPl);\n            });\n     }\n    $scope.get = function() \n    {\n        var promiseGet = crudService.get($scope.ipadId); \n        console.log($scope.ipadId)\n        //Method Call from the service\n        promiseGet.then(function (pl) {\n                // $scope.deviceMap.push(pl.data) \n            },\n            function (errorPl) {\n                $log.error('failure loading records', errorPl);\n            });\n     }\n    $scope.post = function () {\n        var promisePost = crudService.post($scope.ipadId,$scope.robotId);\n        promisePost.then(function (pl) {\n                $scope.ipadId = \"\";\n                $scope.robotId = \"\";\n                $scope.deviceMap = pl.data.mappings\n                // console.log(pl.data);\n                $scope.Message = \"Added Successfuly.\";\n            }, function (err) {\n                console.log(\"Err\" + err);\n            });\n    };\n\n   $scope.load = function(map) {\n            // var promisePost = crudService.post($scope.robotId,$scope.ipadId);\n            console.log(map)\n            $scope.ipadId = map.ipadId;\n            $scope.robotId = map.robotId;\n        };\n\n    $scope.delete = function() {\n        var promisePost = crudService.delete($scope.ipadId);\n        promisePost.then(function (pl) {\n                $scope.ipadId = \"\";\n                $scope.robotId = \"\";\n                $scope.deviceMap = pl.data.mappings\n                $scope.Message = \"Deleted Successfuly.\";\n            }, function (err) {\n                console.log(\"Err\" + err);\n            });        \n    }\n    // };\n    // //Method to Delete\n    // $scope.delete = function () \n    // {\n    //     var promiseDelete = crudService.delete($scope.isbn);\n    //     promiseDelete.then(function (pl) \n    //     {\n    //         $scope.Message = \"Deleted Successfuly\";\n    //         $scope.name = \"\";\n    //         $scope.isbn = \"\";\n    //         $scope.author = \"\";\n    //         $scope.pages = 0;\n    //         loadRecords();\n    //     }, function (err) \n    //     {\n    //         console.log(\"Err\" + err);\n    //     });\n    // }\n\n    // //Method to Get Single Book based on isbn no\n    // $scope.getBook = function () \n    // {\n    //     var promiseGetSingle = crudService.get($scope.isbn);\n\n    //     promiseGetSingle.then(function (pl)\n    //      {\n    //         var res = pl.data;\n    //         $scope.name = res.name;\n    //         $scope.isbn = res.isbn;\n    //         $scope.author = res.author;\n    //         $scope.pages = res.pages;\n    //         alert($scope.name+\" \"+$scope.isbn);\n    //         $scope.IsNewRecord = 0;\n    //     },\n    //     function (errorPl) \n    //         {\n    //     console.log('failure loading Book', errorPl);\n    //     });\n    // }\n\n    //     //Clear the Scope models\n    //     $scope.clear = function () \n    //     {\n    //         $scope.IsNewRecord = 1;\n    //         $scope.name = \"\";\n    //         $scope.isbn = \"\";\n    //         $scope.author = \"\";\n    //         $scope.pages = 0;\n    //     }\n});","x":731,"y":1344.199951171875,"wires":[["23d466f7.94146a"]]},{"id":"51c32c46.d7822c","type":"cloudant in","z":"d850c06b.ba2128","name":"Search All","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_all_","design":"deviceMap","index":"deviceSearch","x":1175.75,"y":509.75,"wires":[["36fdeed2.6ba952"]]},{"id":"5ef7d97c.997118","type":"delay","z":"d850c06b.ba2128","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1129,"y":451.5,"wires":[["51c32c46.d7822c"]]},{"id":"76bca7ab.807e48","type":"cloudant in","z":"d850c06b.ba2128","name":"Search iPad","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_id_","design":"deviceMap","index":"deviceSearch","x":1825.0000457763672,"y":817.0000305175781,"wires":[["f2a2985d.368398"]]},{"id":"9ac45d44.87145","type":"cloudant out","z":"d850c06b.ba2128","name":"","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","payonly":false,"operation":"insert","x":755,"y":608.9999694824219,"wires":[]},{"id":"86f8c357.a011c8","type":"function","z":"d850c06b.ba2128","name":"Add Map","func":"msg._id = msg.req.params.ipadId;\nmsg.payload = msg.req.params.robotId;\n// msg._id = msg.payload.ipadId\n// msg.payload = msg.payload.robotId\n\nreturn msg;","outputs":1,"noerr":0,"x":477.0000305175781,"y":656.9999694824219,"wires":[["5cc44b1.7262734","50378e6c.77875","30e792ba.381826"]]},{"id":"5cc44b1.7262734","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"true","x":522,"y":618.9999694824219,"wires":[]},{"id":"c311160c.86108","type":"inject","z":"d850c06b.ba2128","name":"1","topic":"","payload":"i1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1773.0000457763672,"y":586,"wires":[["76bca7ab.807e48"]]},{"id":"6070eed7.e324b","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"true","x":1825.0000457763672,"y":671,"wires":[]},{"id":"f2a2985d.368398","type":"function","z":"d850c06b.ba2128","name":"Optimize Save","func":"delete msg.cloudant\nreturn msg;","outputs":1,"noerr":0,"x":1954.0000457763672,"y":792,"wires":[["6070eed7.e324b"]]},{"id":"50378e6c.77875","type":"delay","z":"d850c06b.ba2128","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":828,"y":721.9999694824219,"wires":[["b94e9e8b.1209f"]]},{"id":"b94e9e8b.1209f","type":"cloudant in","z":"d850c06b.ba2128","name":"Search All","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_all_","design":"deviceMap","index":"deviceSearch","x":904.75,"y":838.25,"wires":[["46785d13.dc2744","4c2f5a69.d8676c"]]},{"id":"46785d13.dc2744","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"payload","x":972.10009765625,"y":792.2665710449219,"wires":[]},{"id":"16438b07.29bbdd","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"true","x":345.8500061035156,"y":616.3499450683594,"wires":[]},{"id":"4c2f5a69.d8676c","type":"function","z":"d850c06b.ba2128","name":"Generate Response","func":"var response = {'mappings':[]};\n// var response = JSON.parse(response);\n// node.warn(msg.payload[0]._id)\n\nfor(i=0;i<msg.payload.length;i++) {\n    // node.warn(msg.payload[i])\n    response.mappings.push({\"ipadId\":msg.payload[i]._id,\"robotId\":msg.payload[i].payload})\n}\n// for (map in msg.payload) {\n//     response.mappings.push({\"ipadId\":map._id,\"robotId\":map.payload})\n//     node.warn(map[0]._id)\n//     // response = deviceMap[map]\n// }\n\nmsg.payload = response;\n// msg.payload = {\"test\" : \"this is a test\"};\n// msg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1026.11669921875,"y":883.3499755859375,"wires":[["93246c2.930f89","86416929.f4e728"]]},{"id":"86416929.f4e728","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"payload","x":1108.8499755859375,"y":840.8499755859375,"wires":[]},{"id":"30e792ba.381826","type":"function","z":"d850c06b.ba2128","name":"Optimize Save","func":"delete msg.req\ndelete msg.res\n// msg._id = msg.payload.ipadId\n// msg.payload = msg.payload.robotId\n\nreturn msg;","outputs":1,"noerr":0,"x":692.8499755859375,"y":655.3499755859375,"wires":[["9ac45d44.87145"]]},{"id":"afdb17fb.3afe","type":"cloudant out","z":"d850c06b.ba2128","name":"","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","payonly":false,"operation":"delete","x":739.8499755859375,"y":792.3499450683594,"wires":[]},{"id":"e93ae899.e385b8","type":"debug","z":"d850c06b.ba2128","name":"","active":false,"console":"false","complete":"true","x":307.8500061035156,"y":812.8499450683594,"wires":[]},{"id":"a3cd5b3b.e3a0b","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"true","x":502.8500061035156,"y":811.8499450683594,"wires":[]},{"id":"8e1f0a38.2d18e8","type":"cloudant in","z":"d850c06b.ba2128","name":"Search iPad","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_id_","design":"deviceMap","index":"deviceSearch","x":658.8499755859375,"y":842.8499755859375,"wires":[["21681cec.4f914c","afdb17fb.3afe","50378e6c.77875"]]},{"id":"21681cec.4f914c","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"payload","x":673.8499755859375,"y":880.8499755859375,"wires":[]},{"id":"1cda095b.4371b7","type":"cloudant in","z":"d850c06b.ba2128","name":"Search iPad","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_id_","design":"deviceMap","index":"deviceSearch","x":643.8499755859375,"y":1181.3499755859375,"wires":[["f3910479.ad0dc"]]},{"id":"f3910479.ad0dc","type":"function","z":"d850c06b.ba2128","name":"Single Response","func":"msg.payload = {\"ipadId\":msg._id,\"robotId\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":876.8499755859375,"y":1182.3499755859375,"wires":[["93246c2.930f89"]]},{"id":"4c155a7c.c931d4","type":"inject","z":"d850c06b.ba2128","name":"robotId","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":1073.5999755859375,"y":1128.3499755859375,"wires":[["974d9a8d.98a9a8"]]},{"id":"4a221247.0e0cc4","type":"cloudant in","z":"d850c06b.ba2128","name":"Search All","cloudant":"","database":"device_map","service":"nao-admin-cloudantNoSQLDB","search":"_all_","design":"deviceMap","index":"deviceSearch","x":1385.5999755859375,"y":1127.3499755859375,"wires":[["a9298a49.96b36","6e6d83d6.5aeb34"]]},{"id":"a9298a49.96b36","type":"function","z":"d850c06b.ba2128","name":"Get iPad Array","func":"// node.warn(Object.keys(deviceMap).length)\nvar arr=[];\n\n// node.warn(arr)\nfor(i=0;i<msg.payload.length;i++) {\n    // node.warn(msg.payload[i])\n    if (msg.payload[i].payload == msg.deviceId) {\n       arr.push(msg.payload[i]._id)\n    }\n}\n\nmsg.ipadIds = arr;\n\nreturn msg;","outputs":1,"noerr":0,"x":1442.1165771484375,"y":1072.3499755859375,"wires":[["9f6f6fb7.45d758"]]},{"id":"9f6f6fb7.45d758","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"ipadIds","x":1514.5999755859375,"y":1025.8499755859375,"wires":[]},{"id":"974d9a8d.98a9a8","type":"function","z":"d850c06b.ba2128","name":"set deviceId","func":"msg.deviceId = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1219.1165771484375,"y":1129.3499755859375,"wires":[["4a221247.0e0cc4"]]},{"id":"6e6d83d6.5aeb34","type":"debug","z":"d850c06b.ba2128","name":"","active":true,"console":"false","complete":"payload","x":1511.5999755859375,"y":1182.8499755859375,"wires":[]}]