command-api/qms-node-red.json
[{"id":"13b67c1a.0cacfc","type":"http in","z":"540d5ff5.de9318","name":"","url":"/qms-client","method":"get","swaggerDoc":"","x":154.5,"y":375,"wires":[["e59c9ae4.7101d"]]},{"id":"a73cdbe8.fe6088","type":"http response","z":"540d5ff5.de9318","name":"","x":545.5001220703125,"y":375.20001220703125,"wires":[]},{"id":"e59c9ae4.7101d","type":"template","z":"540d5ff5.de9318","name":"QMS Client","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>QMS Client - HLB-NAO</title>\n    <style>\n        input[type=\"text\"] {\n            width: 200px;\n        }        \n        label {\n            display: inline-block;\n            width: 150px;\n            float: left;\n            font-weight: bold;\n        }\n        legend {\n            font-size: 12px;\n            font-weight:normal;\n        }\n        \n        textarea {\n            rows: 4;\n            cols:50;\n            width: 1000px;\n            height: 200px\n        }\n  </style>\n</head>\n<body style=\"font-size: 15px; font-family: helvetica; text-align: left; margin-top: 100px;\">\n  <h1>HLB NAO - QMS Client App</h1>\n  <div id=\"services\" style=\"width:1000px;\">\n        <h2 style=\"color:black;font-weight:bold;\">1. QmsCust Service</h2>\n        <label for=\"b1\">Service Endpoint:</label><input id=\"Endpoint\" type=\"text\" value=\"https://qms-sim.mybluemix.net/mockQmsCustSoapBinding\" style=\"width:500px\"><br><br>                  \n          <fieldset>\n            <legend style=\"color:black;\">wsIssueTicket</legend>\n                <label for=\"b1\">WsClientName:</label><input id=\"WsClientName\" type=\"text\" value=\"iRobot\"><br>                    \n                <label for=\"b2\">Password:</label><input id=\"Password\" type=\"text\" value=\"0123456789\"><br>                    \n                <label for=\"b3\">BranchCode:</label><input id=\"BranchCode\" type=\"text\" value=\"012\"><br>   \n                <label for=\"b4\">ServiceNo:</label><input id=\"ServiceNo\" type=\"text\" value=\"1\"><br>   \n                <label for=\"b5\">ServiceName:</label><input id=\"ServiceName\" type=\"text\" value=\"Loan\"><br>\n                <label for=\"b5\">CustomerName:</label><input id=\"Name\" type=\"text\" value=\"Pat Chan\"><br><br>\n                <input id=\"issue-ticket\" type=\"button\" value=\"Issue Ticket\" style=\"margin-left:150px\"><br><br>\n                <label for=\"b6\">Request:</label><textarea id=\"Request\" readonly></textarea><br>  \n                <label for=\"b7\">Response:</label><textarea id=\"Response\" readonly></textarea><br>  \n          </fieldset>\n  </div>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n  <script>\n      $(\"#issue-ticket\").click(function(event) {\n        $(\"#Request\").val(\"\");\n        $(\"#Response\").val(\"\");\n         $.ajax({\n              url: \"/qms-cust\",\n              dataType: 'text',\n            //   dataType: 'xml',\n              type: \"get\", //send it through get method\n              data:{WsClientName:$(\"#WsClientName\").val(), Password:$(\"#Password\").val(), BranchCode:$(\"#BranchCode\").val(), ServiceNo:$(\"#ServiceNo\").val(), ServiceName:$(\"#ServiceName\").val(),CustomerName:$(\"#Name\").val(),\n                Endpoint:$(\"#Endpoint\").val(), MethodName:\"wsIssueTicket\"  \n              },\n              success: function(response) {\n                // console.log(response);\n                updateRequestResponse(response)\n              },\n              error: function(xhr) {\n                //Do Something to handle error\n                // console.log(xhr.responseText);\n                // IMPORTANT: This is hack due to datapower gateway xml firewall issue. This required to be investigated further\n                //updateRequestResponse(xhr.responseText);\n              }\n            });\n      });\n      \n      function updateRequestResponse(response) {\n                var xml = $.parseXML(response);\n                var $xml = $(xml);\n                $(\"#Request\").val($xml.find('qms').find('soapRequest').html());\n                $(\"#Response\").val($xml.find('qms').find('soapResponse').html());\n      }\n  </script>\n  <script>\n      function issueTicket() {\n          var xhr = new XMLHttpRequest();\n          var params = \n          xhr.open('GET', \"https://+\"window.location.host\"+/qms-cust\", true);\n          xhr.responseType = 'blob';\n          xhr.setRequestHeader(\"content-type\", 'application/json');\n          xhr.send(JSON.stringify({\"id\":guid() ,\"deviceId\":localStorage.deviceId, \"branchId\":\"branch_1\", \"locale\":\"en-us\", \"question\":document.getElementById(textId).value}));\n\n      }\n  </script>\n</body>\n</html>","x":375.4999694824219,"y":374.60003662109375,"wires":[["a73cdbe8.fe6088"]]},{"id":"64963175.77677","type":"http in","z":"540d5ff5.de9318","name":"","url":"/qms-cust","method":"get","swaggerDoc":"","x":146.1999969482422,"y":116.19999694824219,"wires":[["3447a878.fd80b","18f62c00.97bc0c"]]},{"id":"9757b48b.d5ea48","type":"template","z":"540d5ff5.de9318","name":"wsGetBranchList","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.gms.com.my\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:wsIssueTicket>\n         \t<web:wsIssueTicketReq>\n\t    \t\t</web:wsIssueTicketReq>\n      </web:wsIssueTicket>\n   </soapenv:Body>\n</soapenv:Envelope>","x":605.900146484375,"y":36.4000244140625,"wires":[["c3875a14.5caab"]]},{"id":"a5a84427.f04a1","type":"http in","z":"540d5ff5.de9318","name":"","url":"/qms-config","method":"get","swaggerDoc":"","x":150.1999969482422,"y":33.19999694824219,"wires":[["323bb96f.9cd676"]]},{"id":"d8b60d00.4bd828","type":"http in","z":"540d5ff5.de9318","name":"","url":"/qms-status","method":"get","swaggerDoc":"","x":148.19998168945312,"y":256.1999816894531,"wires":[["e498304.bfbd8d"]]},{"id":"4268e7d0.c31be8","type":"template","z":"540d5ff5.de9318","name":"wsIssueTicket","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.gms.com.my\">\n  <soapenv:Header/>\n    <soapenv:Body>\n      <web:wsIssueTicket>\n     \t<web:wsIssueTicketReq>\n          <WsAuth>\n        \t<WsClientName>{{{WsClientName}}}</WsClientName>\n        \t<Password>{{{Password}}}</Password>\n          </WsAuth>\n\t   \t  <BranchCode>{{{BranchCode}}}</BranchCode>\n      \t  <IndService>\n            <ServiceNo>{{{ServiceNo}}}</ServiceNo>\n            <ServiceName>{{{ServiceName}}}</ServiceName>\n      \t  </IndService>      \n      \t  <Cust>\n            <IndCust>\n              <Name>{{{Name}}}</Name>\n              <SyncId>{{{SyncId}}}</SyncId>\n              <GcmTokenList>\n        \t    <GcmToken>{{{GcmToken}}}</GcmToken>\n              </GcmTokenList>\t      \t\t\n            </IndCust>\n      \t    <MobilePhoneNumber>{{{MobilePhoneNumber}}}</MobilePhoneNumber>\n      \t  </Cust>    \n      \t  <IndAppt>{{{IndAppt}}}</IndAppt>\n\t  \t  <IssueType>{{{IssueType}}}</IssueType>\n\t  \t  <ServiceTimeSlot>{{{ServiceTimeSlot}}}</ServiceTimeSlot>\t  \n     \t</web:wsIssueTicketReq>\n      </web:wsIssueTicket>\n    </soapenv:Body>\n</soapenv:Envelope>","x":593.2001953125,"y":120.19999694824219,"wires":[["c3875a14.5caab","91388887.d18b28"]]},{"id":"b0afea8.f610e98","type":"template","z":"540d5ff5.de9318","name":"wsGetCurrentTicket","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.gms.com.my\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:wsIssueTicket>\n         \t<web:wsIssueTicketReq>\n\t    \t\t</web:wsIssueTicketReq>\n      </web:wsIssueTicket>\n   </soapenv:Body>\n</soapenv:Envelope>","x":605.2000732421875,"y":179.19998168945312,"wires":[["c3875a14.5caab"]]},{"id":"f3a2b1fa.7a5438","type":"template","z":"540d5ff5.de9318","name":"wsGetServiceStatusList","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.gms.com.my\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:wsIssueTicket>\n         \t<web:wsIssueTicketReq>\n\t    \t\t</web:wsIssueTicketReq>\n      </web:wsIssueTicket>\n   </soapenv:Body>\n</soapenv:Envelope>","x":628.2001953125,"y":258.20001220703125,"wires":[["c3875a14.5caab"]]},{"id":"b5462036.222fe","type":"switch","z":"540d5ff5.de9318","name":"Select Method","property":"MethodName","propertyType":"msg","rules":[{"t":"eq","v":"wsIssueTicket","vt":"str"},{"t":"eq","v":"wsGetCurrentTicket","vt":"str"}],"checkall":"true","outputs":2,"x":385.8999938964844,"y":113.60000610351562,"wires":[["4268e7d0.c31be8"],["b0afea8.f610e98"]]},{"id":"c3875a14.5caab","type":"function","z":"540d5ff5.de9318","name":"Save Request","func":"msg.soapRequest=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":913.5,"y":110.99998474121094,"wires":[["3bc018c3.52d4a8","3a710e0a.0546b2"]]},{"id":"ed891656.4ab22","type":"template","z":"540d5ff5.de9318","name":"Prepare Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<qms><soapRequest>{{{soapRequest}}}</soapRequest>\n<soapResponse>{{{soapResponse}}}</soapResponse></qms>","x":1301.5,"y":377.6000061035156,"wires":[["4e37c191.38bfd8"]]},{"id":"3447a878.fd80b","type":"debug","z":"540d5ff5.de9318","name":"","active":false,"console":"false","complete":"false","x":227.5,"y":72,"wires":[]},{"id":"91388887.d18b28","type":"debug","z":"540d5ff5.de9318","name":"","active":false,"console":"false","complete":"false","x":649,"y":76,"wires":[]},{"id":"18f62c00.97bc0c","type":"function","z":"540d5ff5.de9318","name":"Get Request Params","func":"msg.WsClientName=msg.payload.WsClientName;\nmsg.Password=msg.payload.Password;\nmsg.BranchCode=msg.payload.BranchCode;\nmsg.ServiceNo=msg.payload.ServiceNo;\nmsg.ServiceName=msg.payload.ServiceName;\nmsg.Name=msg.payload.CustomerName;\nmsg.Endpoint=msg.payload.Endpoint;\nmsg.MethodName=msg.payload.MethodName;\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":166,"wires":[["b5462036.222fe"]]},{"id":"3bc018c3.52d4a8","type":"debug","z":"540d5ff5.de9318","name":"","active":true,"console":"false","complete":"false","x":1008,"y":62,"wires":[]},{"id":"1f3c38aa.2937f7","type":"function","z":"540d5ff5.de9318","name":"Save Response","func":"// msg.soapResponse=\"<soap></soap>\";\nmsg.soapResponse=msg.payload;\n// msg.soapResponse=''+msg.payload+''\n// msg.soapResponse=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://www.webserviceX.NET/\"></soapenv:Envelope>\nreturn msg;","outputs":1,"noerr":0,"x":1190.683349609375,"y":327.1166687011719,"wires":[["ed891656.4ab22","28e03c1c.bc80a4"]]},{"id":"40420e91.1335a8","type":"http request","z":"540d5ff5.de9318","name":"Call qms-sim","method":"POST","ret":"txt","url":"{{{Endpoint}}}","tls":"","x":1052.7333984375,"y":274.3500061035156,"wires":[["447fa071.56bec8","1f3c38aa.2937f7"]]},{"id":"447fa071.56bec8","type":"debug","z":"540d5ff5.de9318","name":"","active":true,"console":"false","complete":"false","x":1188.11669921875,"y":217.11666870117188,"wires":[]},{"id":"28e03c1c.bc80a4","type":"debug","z":"540d5ff5.de9318","name":"","active":false,"console":"false","complete":"soapResponse","x":1322.2667236328125,"y":270.1166687011719,"wires":[]},{"id":"4e37c191.38bfd8","type":"http response","z":"540d5ff5.de9318","name":"","x":1425.11669921875,"y":437.1166687011719,"wires":[]},{"id":"3a710e0a.0546b2","type":"function","z":"540d5ff5.de9318","name":"headers","func":"msg.headers={ \n    'Content-Type': 'text/xml',\n};\n// msg.headers={ \n//     'Content-Type': 'text/html',\n// };\nreturn msg;","outputs":1,"noerr":0,"x":974.449951171875,"y":193.81668090820312,"wires":[["40420e91.1335a8"]]},{"id":"e498304.bfbd8d","type":"function","z":"540d5ff5.de9318","name":"Get Request Params","func":"msg.WsClientName=msg.payload.WsClientName;\nmsg.Password=msg.payload.Password;\nmsg.BranchCode=msg.payload.BranchCode;\nmsg.ServiceNo=msg.payload.ServiceNo;\nmsg.ServiceName=msg.payload.ServiceName;\nmsg.Endpoint=msg.payload.Endpoint;\nmsg.MethodName=msg.payload.MethodName;\nreturn msg;","outputs":1,"noerr":0,"x":372.1166687011719,"y":258,"wires":[["f3a2b1fa.7a5438"]]},{"id":"323bb96f.9cd676","type":"function","z":"540d5ff5.de9318","name":"Get Request Params","func":"msg.WsClientName=msg.payload.WsClientName;\nmsg.Password=msg.payload.Password;\nmsg.BranchCode=msg.payload.BranchCode;\nmsg.ServiceNo=msg.payload.ServiceNo;\nmsg.ServiceName=msg.payload.ServiceName;\nmsg.Endpoint=msg.payload.Endpoint;\nmsg.MethodName=msg.payload.MethodName;\nreturn msg;","outputs":1,"noerr":0,"x":387.1166687011719,"y":36.116668701171875,"wires":[["9757b48b.d5ea48"]]}]