command-api/restwithresouorceid.json
[{"id":"6d96c49.631e53c","type":"http in","z":"2b647ef2.7a6892","name":"","url":"/map/:robotId","method":"get","swaggerDoc":"","x":238.20004272460938,"y":278.2000427246094,"wires":[["6e6414b9.014fec"]]},{"id":"4b57b1fe.f0aea","type":"function","z":"2b647ef2.7a6892","name":"Get All Maps","func":"var deviceMap =flow.get(\"deviceMap\")||{};\nvar response = {'mappings':[]};\n// var response = JSON.parse(response);\nfor (map in deviceMap) {\n    response.mappings.push({\"robotId\":map,\"ipadId\":deviceMap[map]})\n    // response = deviceMap[map]\n}\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":523.2000274658203,"y":231.20001220703125,"wires":[["5ebdaacc.c9a594","86de510e.022f1"]]},{"id":"5ebdaacc.c9a594","type":"http response","z":"2b647ef2.7a6892","name":"","x":809.2000274658203,"y":307.2000274658203,"wires":[]},{"id":"86de510e.022f1","type":"debug","z":"2b647ef2.7a6892","name":"","active":true,"console":"false","complete":"false","x":798.5000152587891,"y":265.0000457763672,"wires":[]},{"id":"2e237416.fc89fc","type":"http in","z":"2b647ef2.7a6892","name":"","url":"/map/:robotId/:ipadId","method":"post","swaggerDoc":"","x":260.20005798339844,"y":326.2000274658203,"wires":[["1f377a97.cce325"]]},{"id":"33397db5.fe2722","type":"http in","z":"2b647ef2.7a6892","name":"","url":"/map/:robotId","method":"delete","swaggerDoc":"","x":250.2000274658203,"y":377.2000274658203,"wires":[["6e4b598c.f0b588"]]},{"id":"8fd6b399.fd733","type":"http in","z":"2b647ef2.7a6892","name":"","url":"/map","method":"get","swaggerDoc":"","x":210.20001220703125,"y":231.1999969482422,"wires":[["4b57b1fe.f0aea"]]},{"id":"6e6414b9.014fec","type":"function","z":"2b647ef2.7a6892","name":"Get Map","func":"var deviceMap =flow.get(\"deviceMap\")||{};\nvar robotId = msg.req.params.robotId;\n\nmsg.payload = {\"robotId\":robotId, \"ipadId\":deviceMap[robotId]};\nreturn msg;","outputs":1,"noerr":0,"x":514.2000274658203,"y":278.2000274658203,"wires":[["5ebdaacc.c9a594"]]},{"id":"1f377a97.cce325","type":"function","z":"2b647ef2.7a6892","name":"Add / Update Map ","func":"var deviceMap =flow.get(\"deviceMap\")||{};\nvar robotId = msg.req.params.robotId;\nvar ipadId = msg.req.params.ipadId;\ndeviceMap[robotId] = ipadId;\nflow.set('deviceMap', deviceMap);\n\nvar response = {'mappings':[]};\n// var response = JSON.parse(response);\nfor (map in deviceMap) {\n    response.mappings.push({\"robotId\":map,\"ipadId\":deviceMap[map]})\n    // response = deviceMap[map]\n}\n\nmsg.payload = response;\n// msg.payload = {\"test\" : \"this is a test\"};\n// msg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":538.2000274658203,"y":326.2000274658203,"wires":[["5ebdaacc.c9a594","86de510e.022f1"]]},{"id":"6e4b598c.f0b588","type":"function","z":"2b647ef2.7a6892","name":"Delete Map","func":"var deviceMap =flow.get(\"deviceMap\")||{};\nvar robotId = msg.req.params.robotId;\ndelete deviceMap[robotId];\nflow.set('deviceMap', deviceMap);\n\nvar response = {'mappings':[]};\n// var response = JSON.parse(response);\nfor (map in deviceMap) {\n    response.mappings.push({\"robotId\":map,\"ipadId\":deviceMap[map]})\n    // response = deviceMap[map]\n}\n\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":522.2000274658203,"y":377.2000274658203,"wires":[["5ebdaacc.c9a594"]]},{"id":"b856df20.f2a8a","type":"http in","z":"2b647ef2.7a6892","name":"","url":"/nao-admin","method":"get","swaggerDoc":"","x":179.50001525878906,"y":451.79998779296875,"wires":[["c716e817.1967a8"]]},{"id":"a06b7af2.4b1fb8","type":"http response","z":"2b647ef2.7a6892","name":"","x":669.4999542236328,"y":703.7999954223633,"wires":[]},{"id":"d72d6d65.29655","type":"template","z":"2b647ef2.7a6892","name":"NAO Admin UI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html ng-app=\"crudModule\">\n    <head>\n        <style>\n         #tblcollections, th, td\n            {\n                border:1px solid black; background-color: mintcream; color: black;\n                /*margin-left: auto;*/\n                /*margin-right: auto;*/\n                width:300px\n            }\n        </style>\n    </head>\n    <body>\n        <h2 style=\"text-align:left;\">NAO Admin App</h2>\n            <table id=\"tblContainer\" ng-controller=\"crudController\">\n    \n                <tbody>\n                    <tr>\n                        <td>\n                            <table id=\"tb2\">\n                                <tbody>\n                                    <tr>\n                                        <td>\n                                            <span>Robot ID:</span>\n                                        </td>\n                                        <td>\n                                            <input type=\"text\" id=\"robotId\" required=\"true\" ng-model=\"robotId\"/>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td>\n                                            <span>iPad ID:</span>\n                                        </td>\n                                        <td>\n                                            <input type=\"text\" id=\"ipadId\" required=\"true\" ng-model=\"ipadId\"/>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td></td>\n                                        <td>\n                                            <input type=\"button\" id=\"delete\" value=\"Delete\" ng-click=\"delete()\" />\n                                            <input type=\"button\" id=\"add\" value=\"Add\" ng-click=\"post()\" />\n                                        </td>                \n                                    </tr> \n                                </tbody>\n                            </table>\n                            <div>{[{Message}]}</div>\n                            <br>\n                            <br>\n                            <h3 style=\"text-align:left;\">Mapping Details</h3>\n\n                            <table id=\"tblcollections\">\n                                <thead>\n                                    <tr>\n                                        <th>Robot ID</th>\n                                        <th>iPad ID</th>\n                                    </tr>\n                                </thead>\n                                {{!--<tbody ng-repeat=\"map in deviceMap  track by $index\">--}}\n                                <tbody ng-repeat=\"map in deviceMap\">\n                                        <tr ng-click=\"load(map)\">\n                                        {{!--<tr>--}}\n\n                                            <td> <span>{[{map.robotId}]}</span></td>\n                                            <td> <span>{[{map.ipadId}]}</span></td>\n                                            {{!--<td>--}}\n                                            {{!--    <input type=\"button\" id=\"load\" value=\"Load\" ng-click=\"test(map)\" />--}}\n                                            {{!--</td>--}}\n\n                                        </tr>\n                                </tbody>\n                            </table>\n                        </td>\n                    </tr>\n                </tbody>\n            </table>\n        {{!--</div>--}}\n        <script src = \"http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js\"></script>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n        <script>\n            $(\"#tblcollections tbody tr td\").click(function(){\n               $(this).addClass('selected').siblings().removeClass('selected');    \n               var value=$(this).find('td:first').html();\n               alert(value);    \n            });            \n        </script>\n        <script>{{{payload.common.js}}}</script>\n        <script>{{{payload.app.js}}}</script>\n        <script>{{{payload.service.js}}}</script>\n        <script>{{{payload.controller.js}}}</script>\n    </body>\n</html>","x":510.50001525878906,"y":702.0000686645508,"wires":[["a06b7af2.4b1fb8"]]},{"id":"c716e817.1967a8","type":"template","z":"2b647ef2.7a6892","name":"app.js","field":"payload.app.js","fieldType":"msg","format":"javascript","syntax":"plain","template":"// var app = angular.module('crudModule', []);\nvar app = angular.module('crudModule', []).config(function($interpolateProvider){\n    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');\n});","x":342.2000274658203,"y":548.2000198364258,"wires":[["affcc7ec.e34cf8"]]},{"id":"affcc7ec.e34cf8","type":"template","z":"2b647ef2.7a6892","name":"service.js","field":"payload.service.js","fieldType":"msg","format":"javascript","syntax":"plain","template":"app.service('crudService', function($http){\n    // var base_url = window.location.host+'/map/';\n    var base_url = '/map/';\n\n    this.post = function(robotId, ipadId) {\n        var request = $http({\n           method: 'post',\n           url:base_url+robotId+'/'+ipadId\n        });\n        return request;\n    }   \n    \n    this.getAll = function() {\n        var request = $http({\n           method: 'get',\n           url:base_url\n        });\n        return request;\n    } \n    this.get = function(robotId) {\n        var request = $http({\n           method: 'get',\n           url:base_url+robotId\n        });\n        return request;\n    } \n    this.delete = function(robotId) {\n        var request = $http({\n           method: 'delete',\n           url:base_url+robotId\n        });\n        return request;\n    } \n});","x":380.2000274658203,"y":600.2000198364258,"wires":[["114991b2.99fb2e"]]},{"id":"114991b2.99fb2e","type":"template","z":"2b647ef2.7a6892","name":"controller.js","field":"payload.controller.js","fieldType":"msg","format":"javascript","syntax":"plain","template":"app.controller('crudController', function ($scope, crudService) \n{\n    \n    getAll(); // Initially loads all records.\n\n    //Function to load all records \n    function getAll() \n    {\n        var promiseGet = crudService.getAll(); \n\n        //Method Call from the service\n        promiseGet.then(function (pl) {\n                //  $scope.deviceMap = JSON.stringify(pl.data)\n\n                $scope.deviceMap = pl.data.mappings\n                // $scope.deviceMap = [{\"2\":\"2\"},{\"1\":\"1\"}]\n                console.log($scope.deviceMap);\n\n            },\n            function (errorPl) {\n                $log.error('failure loading records', errorPl);\n            });\n     }\n    $scope.get = function() \n    {\n        var promiseGet = crudService.get($scope.robotId); \n        console.log($scope.robotId)\n        //Method Call from the service\n        promiseGet.then(function (pl) {\n                // $scope.deviceMap.push(pl.data) \n            },\n            function (errorPl) {\n                $log.error('failure loading records', errorPl);\n            });\n     }\n    $scope.post = function () {\n        var promisePost = crudService.post($scope.robotId,$scope.ipadId);\n        promisePost.then(function (pl) {\n                $scope.robotId = \"\";\n                $scope.ipadId = \"\";\n                $scope.deviceMap = pl.data.mappings\n                // console.log(pl.data);\n                $scope.Message = \"Added Successfuly.\";\n            }, function (err) {\n                console.log(\"Err\" + err);\n            });\n    };\n\n   $scope.load = function(map) {\n            // var promisePost = crudService.post($scope.robotId,$scope.ipadId);\n            console.log(map)\n            $scope.robotId = map.robotId;\n            $scope.ipadId = map.ipadId;\n        };\n\n    $scope.delete = function() {\n        var promisePost = crudService.delete($scope.robotId);\n        promisePost.then(function (pl) {\n                $scope.robotId = \"\";\n                $scope.ipadId = \"\";\n                $scope.deviceMap = pl.data.mappings\n                $scope.Message = \"Deleted Successfuly.\";\n            }, function (err) {\n                console.log(\"Err\" + err);\n            });        \n    }\n    // };\n    // //Method to Delete\n    // $scope.delete = function () \n    // {\n    //     var promiseDelete = crudService.delete($scope.isbn);\n    //     promiseDelete.then(function (pl) \n    //     {\n    //         $scope.Message = \"Deleted Successfuly\";\n    //         $scope.name = \"\";\n    //         $scope.isbn = \"\";\n    //         $scope.author = \"\";\n    //         $scope.pages = 0;\n    //         loadRecords();\n    //     }, function (err) \n    //     {\n    //         console.log(\"Err\" + err);\n    //     });\n    // }\n\n    // //Method to Get Single Book based on isbn no\n    // $scope.getBook = function () \n    // {\n    //     var promiseGetSingle = crudService.get($scope.isbn);\n\n    //     promiseGetSingle.then(function (pl)\n    //      {\n    //         var res = pl.data;\n    //         $scope.name = res.name;\n    //         $scope.isbn = res.isbn;\n    //         $scope.author = res.author;\n    //         $scope.pages = res.pages;\n    //         alert($scope.name+\" \"+$scope.isbn);\n    //         $scope.IsNewRecord = 0;\n    //     },\n    //     function (errorPl) \n    //         {\n    //     console.log('failure loading Book', errorPl);\n    //     });\n    // }\n\n    //     //Clear the Scope models\n    //     $scope.clear = function () \n    //     {\n    //         $scope.IsNewRecord = 1;\n    //         $scope.name = \"\";\n    //         $scope.isbn = \"\";\n    //         $scope.author = \"\";\n    //         $scope.pages = 0;\n    //     }\n});","x":426.2000274658203,"y":648.2000198364258,"wires":[["d72d6d65.29655"]]}]