command-api/ta.json
[{"id":"809353ab.3b6c1","type":"inject","z":"c2598941.e34b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.16668701171875,"y":850.2666625976562,"wires":[["b4b016db.ca6028"]]},{"id":"b7fc10a4.efe33","type":"cloudant out","z":"c2598941.e34b28","name":"Save to Analytics DS","cloudant":"","database":"analytics","service":"command-api-cloudantNoSQLDB","payonly":true,"operation":"insert","x":733,"y":707,"wires":[]},{"id":"1d8a9ee0.649ec1","type":"switch","z":"c2598941.e34b28","name":"","property":"conversationId","propertyType":"msg","rules":[{"t":"neq","v":"previousConversationId","vt":"flow"},{"t":"else"}],"checkall":"true","outputs":2,"x":489,"y":671,"wires":[["b7fc10a4.efe33","12580fb.c1386f","69203e80.10ab68"],["b7fc10a4.efe33","b378db1.104b9a8"]]},{"id":"8918f67.6955f08","type":"function","z":"c2598941.e34b28","name":"Save previous conversation id","func":"flow.set('previousConversationId',msg.conversationId);\nreturn msg;","outputs":1,"noerr":0,"x":1013,"y":352,"wires":[["8cdee04d.540a8"]]},{"id":"3e3f7767.a85d98","type":"cloudant in","z":"c2598941.e34b28","name":"Query from Analytics DS","cloudant":"","database":"analytics","service":"command-api-cloudantNoSQLDB","search":"_idx_","design":"searchConversations","index":"findById","x":699,"y":544,"wires":[["e2acbb3.419b3c8","4d522863.33a7b8","620e732.b85080c"]]},{"id":"262c1f20.546a9","type":"watson-tone-analyzer-v3","z":"c2598941.e34b28","name":"Tone Analyzer","tones":"all","sentences":"true","contentType":"false","x":858.5,"y":413,"wires":[["8918f67.6955f08"]]},{"id":"8cdee04d.540a8","type":"function","z":"c2598941.e34b28","name":"Tone Analyzer Schema","func":"var timestamp = new Date().toUTCString();\nmsg.payload =\n{\n    ID : msg.id,\n    DEVICE_ID : msg.deviceId,\n    BRANCH_ID : msg.branchId,\n    TONE : msg.response,\n    CREATED_DATE : timestamp\n}\nreturn msg;","outputs":1,"noerr":0,"x":1143,"y":297.5,"wires":[["54936a61.d2d584","1e767559.ab013b"]]},{"id":"54936a61.d2d584","type":"cloudant out","z":"c2598941.e34b28","name":"Tone Analysis DS","cloudant":"","database":"tone_analysis","service":"command-api-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1290,"y":251,"wires":[]},{"id":"d838a022.c042d","type":"template","z":"c2598941.e34b28","name":"Conversation Schema","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"deviceId\" : \"{{{deviceId}}}\",\n    \"conversationId\" : \"{{{conversationId}}}\",\n    \"requestText\" : \"{{{requestText}}}\",\n    \"responseText\" : \"{{{responseText}}}\"\n}","x":405.5,"y":713,"wires":[["1d8a9ee0.649ec1","a0dfc76c.9106c8"]]},{"id":"b4b016db.ca6028","type":"function","z":"c2598941.e34b28","name":"Get values","func":"msg.id = \"1121\";\nmsg.deviceId = \"dev1\";\nmsg.conversationId = \"1\";\nmsg.requestText = \"hi.\";\nmsg.responseText = \"how can i help you. yes I am ok. do you feel bad.\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":252.5,"y":796,"wires":[["bd2674a7.e348a"]]},{"id":"e2acbb3.419b3c8","type":"debug","z":"c2598941.e34b28","name":"","active":false,"console":"false","complete":"payload[0].requestText","x":929.5,"y":576.4000244140625,"wires":[]},{"id":"69203e80.10ab68","type":"template","z":"c2598941.e34b28","name":"Conversation Query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"deviceId:'{{{deviceId}}}' AND conversationId:'{{{previoudConversationId}}}'","x":587.9000244140625,"y":604.6000061035156,"wires":[["3e3f7767.a85d98","4d77bce1.92036c"]]},{"id":"bd2674a7.e348a","type":"function","z":"c2598941.e34b28","name":"Check previous conversation","func":"var previousConversationId =flow.get(\"previousConversationId\")||{};\nmsg.previousConversationId = previousConversationId\nif (previousConversationId === null) {\n     flow.set(\"previousConversationId\", msg.conversationId);\n}\nreturn msg;","outputs":1,"noerr":0,"x":332.5,"y":757,"wires":[["d838a022.c042d"]]},{"id":"b378db1.104b9a8","type":"debug","z":"c2598941.e34b28","name":"","active":false,"console":"false","complete":"false","x":665,"y":767,"wires":[]},{"id":"12580fb.c1386f","type":"debug","z":"c2598941.e34b28","name":"","active":true,"console":"false","complete":"false","x":723,"y":649,"wires":[]},{"id":"a0dfc76c.9106c8","type":"function","z":"c2598941.e34b28","name":"","func":"node.warn(flow.get(\"previousConversationId\"))\n","outputs":1,"noerr":0,"x":585,"y":840,"wires":[[]]},{"id":"4d522863.33a7b8","type":"debug","z":"c2598941.e34b28","name":"","active":false,"console":"false","complete":"payload","x":912,"y":527.0000305175781,"wires":[]},{"id":"620e732.b85080c","type":"function","z":"c2598941.e34b28","name":"Aggregate Conversation","func":"var conversation = msg.payload\nvar document = \"\";\nfor (i=0; i < conversation.length; i++) {\n    document += \"Customer: \"+ conversation[i].requestText+\"\\r\\n\";\n    document += \"Robot: \"+ conversation[i].responseText+\"\\r\\n\";\n}\nmsg.payload = document\nnode.warn(document)\nreturn msg;","outputs":1,"noerr":0,"x":779,"y":481,"wires":[["262c1f20.546a9","9f30fe24.cd38e"]]},{"id":"1e767559.ab013b","type":"debug","z":"c2598941.e34b28","name":"","active":true,"console":"false","complete":"true","x":1356,"y":293,"wires":[]},{"id":"2a25e68a.8db01a","type":"function","z":"c2598941.e34b28","name":"Get values","func":"msg.id = \"1121\";\nmsg.deviceId = \"dev1\";\nmsg.conversationId = \"2\";\nmsg.requestText = \"appy load.\";\nmsg.responseText = \"which type.\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":178,"y":664,"wires":[["bd2674a7.e348a"]]},{"id":"d872f70f.fea87","type":"inject","z":"c2598941.e34b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":606,"wires":[["2a25e68a.8db01a"]]},{"id":"d48d09c5.7495","type":"function","z":"c2598941.e34b28","name":"Get values","func":"// msg.id = \"1121\";\nmsg.deviceId = \"dev1\";\nmsg.conversationId = \"1\";\n// msg.requestText = \"appy load\";\n// msg.responseText = \"which type\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":368.1166687011719,"y":580.1167297363281,"wires":[["69203e80.10ab68"]]},{"id":"4f00b8c.c48f048","type":"inject","z":"c2598941.e34b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":248.11666870117188,"y":518.11669921875,"wires":[["d48d09c5.7495"]]},{"id":"4d77bce1.92036c","type":"debug","z":"c2598941.e34b28","name":"","active":false,"console":"false","complete":"false","x":834.11669921875,"y":611.36669921875,"wires":[]},{"id":"9d7d09d6.50621","type":"comment","z":"c2598941.e34b28","name":"searchConversations/findById","info":"function (doc) {\n  index(\"conversationId\", doc.conversationId);\n  index(\"deviceId\", doc.deviceId);\n}","x":512.4499816894531,"y":440.28334045410156,"wires":[]},{"id":"9f30fe24.cd38e","type":"debug","z":"c2598941.e34b28","name":"","active":true,"console":"false","complete":"payload","x":1028.2000122070312,"y":471.26666259765625,"wires":[]}]