command-api/temp.json
[{"id":"f21cc680.432c9","type":"function","z":"836e16d5.74b658","name":"conversation query","func":"var conversationId=\"'1'\"\nmsg.payload = \"conversationId:\"+conversationId+\" AND deviceId:'msg.req.body.deviceId'\"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":370,"wires":[["6605c6e3.e2ebb"]]},{"id":"1752e067.9a5918","type":"inject","z":"836e16d5.74b658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.6999969482422,"y":303.20001220703125,"wires":[["f21cc680.432c9"]]},{"id":"6605c6e3.e2ebb","type":"function","z":"836e16d5.74b658","name":"","func":"msg.deviceId='msg.req.body.deviceId'\nmsg.conversationId=1\nreturn msg;","outputs":1,"noerr":0,"x":169.4000244140625,"y":250.5999755859375,"wires":[[]]},{"id":"10fc77de.0d05f8","type":"inject","z":"836e16d5.74b658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.5,"y":178.1999969482422,"wires":[["6605c6e3.e2ebb"]]},{"id":"1bc7a3f5.3e39cc","type":"inject","z":"836e16d5.74b658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246.5,"y":106,"wires":[["55bb9db6.ba59b4"]]},{"id":"e6a0d38b.87bff8","type":"function","z":"836e16d5.74b658","name":"","func":"node.warn(flow.get(\"previousConversationId\"))\n","outputs":1,"noerr":0,"x":576,"y":199,"wires":[[]]},{"id":"23ed819.e75dcfe","type":"function","z":"836e16d5.74b658","name":"Save previous conversation id","func":"flow.set('previousConversationId',\"\");\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":338,"wires":[["e6a0d38b.87bff8"]]},{"id":"4f134245.7f713c","type":"inject","z":"836e16d5.74b658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":529,"y":437,"wires":[["23ed819.e75dcfe"]]},{"id":"ea7813ca.6fef78","type":"link out","z":"836e16d5.74b658","name":"","links":["d9b769ec.d73568","fd82ab67.180e68","a671da98.a3382"],"x":710.300048828125,"y":437.300048828125,"wires":[]},{"id":"55bb9db6.ba59b4","type":"debug","z":"836e16d5.74b658","name":"","active":true,"console":"false","complete":"false","x":488.7666320800781,"y":72.71665954589844,"wires":[]},{"id":"6498e321.8d523c","type":"inject","z":"836e16d5.74b658","name":"4X slip","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":457.8833312988281,"y":1015.38330078125,"wires":[["5f02458f.8b11dc"]]},{"id":"5fd6414f.a8815","type":"inject","z":"836e16d5.74b658","name":"3X slip","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":462.8833312988281,"y":1066.38330078125,"wires":[["5f02458f.8b11dc"]]},{"id":"5f02458f.8b11dc","type":"function","z":"836e16d5.74b658","name":"distance and revolutions","func":"var distance = Math.round (Math.random() * 1000);\nvar slip = flow.get('slip');\ndistance += 10;\nvar revolutions = distance * msg.payload;\n\nmsg.distance = distance;\nmsg.revolutions = revolutions;\nmsg.timestamp = new Date().toISOString()\n\nflow.set('distance', distance);\nflow.set('revolutions', revolutions);\n\nreturn msg;","outputs":1,"noerr":0,"x":710.88330078125,"y":1124.38330078125,"wires":[["6d5ca5ac.447b3c"]]},{"id":"a3b3bc5c.6ee018","type":"debug","z":"836e16d5.74b658","name":"","active":true,"console":"false","complete":"payload","x":845.7666015625,"y":1047.2166748046875,"wires":[]},{"id":"6d5ca5ac.447b3c","type":"template","z":"836e16d5.74b658","name":"Payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    d:{\n        elevator_id:\"ELV_001\",\n        distance:{{{distance}}},\n        revolutions:{{{revolutions}}},\n        timestamp:{{{timestamp}}}\n    }\n}","x":804.7666015625,"y":1091.61669921875,"wires":[["a3b3bc5c.6ee018","3a707087.a4fc28"]]},{"id":"3a707087.a4fc28","type":"ibmiot out","z":"836e16d5.74b658","authentication":"apiKey","apiKey":"","outputType":"evt","deviceId":"","deviceType":"0.15.3","eventCommandType":"","format":"json","data":"","qos":0,"name":"IBM IoT","service":"registered","x":991.7666015625,"y":1096.7833251953125,"wires":[]},{"id":"67dce7c8.5161a","type":"inject","z":"836e16d5.74b658","name":"1X slip","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":461.8833312988281,"y":1187.38330078125,"wires":[["5f02458f.8b11dc"]]},{"id":"7958377f.4ea708","type":"inject","z":"836e16d5.74b658","name":"2X slip","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":457.8833312988281,"y":1125.38330078125,"wires":[["5f02458f.8b11dc"]]}]